
<!DOCTYPE html>
<html>

  <head>
    <title>Django Template Tag Reference</title>
  </head>  

<body>

  <h2>Django Template Tag Reference</h2>

  <h3>Firstof Template Tag</h3>  

  <p>Use firstof when there is no empty values in an object</p>

<h4>Firstof with no empty values Example</h4>

<p>Return first of three variables (x, y, z), whose value is not empty or false:</p>

<h1>{% firstof x y z %}</h1>    

<p> As you can see from this object example, all variables have a value.<br> 
    As we are looking for first variable of object, it will be for x and that is Volvo.
</p>

<p>Check out views.py to see content of x, y and z variables, for both examples.</p>

{#Need to create screenshot for this first 1st example <img src="">#}

<hr>

<h3>Definition and Usage</h3>

<p>The <code>firstof</code> tag returns first argument that is not an empty variable.</p>

<p>Empty variables can be an empty string <code>""</code>, or a zero number <code>0</code>, 
   or a boolean <code>false</code>.</p>

<h4>Firstof in an object that has an empty variable</h4>

<p>Firstof with empty variable Example</p>

<p>First value is now empty, see what happens:</p>
 
{#Use include tag below for this code to include it in another HTML file#}
{# {% include firstof_empty.html %} #}
{# Cannot get include working yet, I think #}
{# <h1>{% firstof x y z %}</h1> #}



<p> As you can see from this object example, first variable x is an empty variable with no value.
    The next variable y has a value, so that is first variable of object that has a value, which is Volvo. 
</p>

{#Need to create screenshot for this second 2nd example <img src="">#}




<hr>

<h3>Syntax</h3>

{# Need space below between a curly brace { and %, so that it can be displayed as text and does not think it is code #} 
{ % firstof <em>var1</em> <em>var2</em> <em>var3</em> <em>etc</em>. % }

<hr>

<h3>Parameters</h3>

<table border='3'>
  <tr>
      <th>Value</th>
      <th>Description</th>
  </tr>
  <tr>
      <td><em>var1</em> <em>var2</em> <em>var3</em> .</td>
      <td>Variables. The first variable that is not empty, 0, or false is returned.<br> 
        If all variables are empty, then nothing is returned.</td>
  </tr>    
</table>   

</body>
</html>