
{#{% load static% %}#}
{# Written Content is in #}
{# Just need images for code on this page now #}
<!DOCTYPE html>
<html>

  <head>
    <title>Django Template Tag Reference</title>
  </head>  

<body>

    {#<h2>Django Template Tag Reference</h2> try larger heading#}
    <h1><center>Django Template Tag Reference</center></h1>

    {#<h3>Verbatim Template Tag</h3> try larger heading and specify Template Tag Reference #} 
    <h2>Template Tag - Verbatim</h2>

    {#<p><b>verbatim without execute Example</b></p> better to have a heading I think#} 
    <h3>Verbatim without execute Example</h3>

    <p>Output Django code without executing it.</p>

    {% verbatim %}
      {% for x in fruits %}
        <h1>{{ x }}</h1>
      {% endfor %}
    {% endverbatim %}

    {# Show image of views.py file #}

    {# Explain code in views.py file #}
    <p>For both examples, views.py uses a fruits variable object for an array that has fruits in context.</p>
    {# Show image of Django code in HTML file #}

    {# Explain Django code in HTML file #}
    <p>In HTML Template we are using verbatim Django command to show just Django code between 
      <code>{ % verbatim % }</code> and <code>{ % endverbatim % }</code> commands.<br><br>
       For this example we show Django commands <code>{ % for x in fruits % }</code> and 
       <code>{ % endfor % }</code> and just Django code <code>{ x }</code> between HTML <b>h1</b> heading tags.<br>
       <br>
       Using verbatim means that we actually are not using data from our views.py file, but showing Django code used 
       for output.
    </p>
<hr>

{#<h3>Definition and Usage</h3> try larger heading#}
<h2>Definition and Usage</h2>

<p>The <code>verbatim</code> template tag is used to stop Django from executing code.<br><br> 
   Anything between <code>{ % verbatim % }</code> and <code>{ % endverbatim % }</code> will not be executed, but 
   rendered as output instead.<br><br> 
   To be sure that you refer to correct verbatim code block, you can add a name to it:
</p>

{#<p>Verbatim choosing from more than one Example</p> better to have a heading I think#}
<h3>Verbatim choosing from more than one Example</h3>

<p>When there can be more than one verbatim tag in a code block, you can use a name argument to specify
   which one you mean.
</p>

{% verbatim mycode %}
  {% for x in fruits %}
    {% verbatim %}
      <h1>{{ x }}</h1>
    {% endverbatim %}
  {% endfor %}
{% endverbatim mycode %}      

<hr>

{#<h3>Syntax</h3> try larger heading#}
<h2>Syntax</h2>

{#Rethink how to display this syntax example.#}
{#<p>{{ % verbatim <code>name</code> %}}</p>#}
{#<p>{ { % verbatim <code>name</code> % } }</p>#}
<p>
  { { % verbatim <code>name</code> % } }<br>
{#<p>  ... </p>#}
    <code>write code inside this tag here</code><br>
{#</p>{{ % endverbatim % }}</p>#}
  { { % endverbatim % } }
</p>


<h3>Parameters</h3>

<table border='3'>
  <tr>
      <th>Value</th>
      <th>Description</th>
  </tr>
  <tr>
      {#<td><em>name</em></td>#}
      <td>name</td>    
      <td>Optional. The name of verbatim block.</td>
  </tr>
</table>   

</body>
</html>