<!DOCTYPE html>
<html>
  
  <head>
    <title>Django Template Tag Reference</title>
  </head>

<body>

    <h2>Django Template Tag Reference</h2>
  
    <h3>With Template Tag</h3>  
  
    <h4>With for a variable in a template Example </h4>

    <p>Create a variable in a template and use it:<p>

    {% include "django_refs/template/with_example1.html"%}  

    <hr>

    <h3>Definition and Usage</h3>

    <p>The <code>with</code> tag is used to create variables in Django templates.</p>

    <p>This can be useful when you need to ask for same variable many times, like in a loop.</p>

    <h4>With in a a For Loop Example</h4>

    <p>Use the <code>with</code> tag to get length of <code>fruits</code> only one time:</p>

    {% include "django_refs/template/with_example2.html" %}

    <hr>

    <h3>Syntax</h3>
    
    

</body>

</html>