
{# Handles images from static folder #}
{% load static %} 

<!DOCTYPE html>
<html>
    
    <head><title>Django Details Link</title>
    </head> 

<body>
    <h1><center>Display Data</center></h1>

    <h2>Django Add Link to Details</h2>

    <h3>Details Template</h3>

    <p>Next step in our web page will be to add a Details page, where more details can be listed about a 
       specific member.<br>
       Start by creating a new template called <code>details.html</code> :
    <br><br>
      <code>my_tennis_club/members/templates/details.html</code> :
    </p>

    {# Screenshot image of details.html code for template. #}
    {# This is an Image showing details.html template code #} 
    {# code for details about a specific member #}
    <img src="{% static 'images/testing/display_data/details_link/New Details HTML Template.png' %}">

    <hr>

    <h3>Add Link in all-members Template</h3>

    <p>List in <code>all_members.html</code> should be clickable and take you to details page with an id
       of a member you clicked on:<br><br>
    <code>my_tennis_club/members/templates/all_members.html</code> :
    </p> 
    
    {# Screenshot image of details link in all_members.html file. This is an Image showing #}
    {# details.html template code for /members page that has a list of members links. #}
    {# ./tested_images/all_members_details_link.html #}
    <img src="{% static 'images/testing/display_data/details_link/All Members Template Link.png' %}">
    
    <hr>

    <h3 id="details_view">Create new Details View</h3>

    <p>Create a new view in <code>views.py</code> file, that will handle incoming requests to 
       <code>/details/</code> url:<br><br>
       <code>my_tennis_club/members/views.py</code> :
    </p>

    {# Screenshot image of details link in all_members.html file #}
    {# ./tested_images/details_views.html #}
    {# Show imports code that we put in previously, needed for our view #}
    <img src="{% static 'images/testing//display_data/details_link/views_imports_to_use.png' %}">
    {# Shows code needed for our new details view #}
    <img src="{% static 'images/testing/display_data/details_link/details_view.png' %}">

    <p><code>Details</code> view does following:</p>

    <ul>
        <li>Gets an <code>id</code> as an argument.</li>
        <li>Uses an <code>id</code> to locate a correct record in Member table.</li>
        <li>Loads <code>details.html</code> template.</li>
        <li>Creates an object containing a member.</li>
        <li>Sends an object to <code>details.html</code> templatse</li>
        <li>Outputs (Displays result of) HTML that is rendered by <code>details.html</code> template.</li>
    </ul>

    <p>Now that we have a new <b>details</b> view, this is what all our views so far should like like in our 
      <b>views.py</b> file.
    </p>

    {# Show imports code that we put in previously, needed for our all of our views #}
    {# and you can see details view at bottom of image #}
    <img src="{% static 'images/testing/display_data/details_link/Views Details - Prop and Value.png' %}">

    <hr>

    <h3>Add URLS</h3>

    <p>Now we need to make sure that <code>/detail/</code> url points to correct view, with <code>id</code> 
       as a parameter.<br><br>
       Open <code>urls.py</code> file and add a <code>details view</code> to <code>urlpatterns</code> list:
       <br><br>
       <code>my_tennis_club/members/urls.py</code> :
    </p>

    {# Screenshot image showing url for details view  #}
    {# Note: I have shown both members and details url because I did details url after members url #}
    <img src="{% static 'images/testing/display_data/details_link/URLS with Details View.png' %}">


    <p>You may already be in <code>/my_tennis_club/</code> folder, but if you are not, just type 
        <code>cd my_tennis_club</code> as shown in image below.
    </p>
 
     {# Screenshot image showing how to get into my_tennis_club folder  #}   
     <img src="{% static 'images/testing/display_data/details_link/Access_Django_Project_Folder.png' %}">
     
     <p>Now we can start Django built-in local host server, by typing following command shown below.</p> 
 
     {# Screenshot image showing command to run django built-in local host server #}
     <img src="{% static 'images/testing/display_data/details_link/Run_Django_Localhost_Server.png' %}">
     
     <p>In browser window, type <code>127.0.0.1:8000/members/</code> in web address bar and you should get a 
        result<br> shown in image below or you can click on this <a href="/members">Members Page Link</a> 
        to see also how it is displayed.
     </p> 
 
     {# Screenshot image showing Members page run with django built-in local host server #}
     <img src="{% static 'images/testing/display_data/details_link/Members View List on Server.png' %}">

</body>
</html>
