
{# Handles images from static folder #}
{# {% load static %} #}

<!DOCTYPE html>
<html>
    
    <head><title>Django Forms</title>
    </head> 

<body>
    <h1><center>Display Data</center></h1>
 
    <h2>Django Forms</h2>

    <p>At some point during learning web development you will come across a form.<br> 
       Forms are used as a means of searching for specific data of a record<br> from a model (table) of a 
       database.  
    </p>
    
    {# Image showing current fields in our Member Model (table) #}


    {# Maybe have an Image showing fields that we may want to add to our Member Model (table) #}




    <p>Here is an example of how a <a href="/testing/django_form_example">Django Form</a> searching for members 
       details.
    </p>

</body>
</html>    