
{# Handles images from static folder #}
{% load static %}

<!DOCTYPE html>
<html>
    
    <head><title>Django Template</title>
    </head> 

<body>
    <h1><center>Display Data</center></h1>
 
    <h2>Django Add Master Template</h2>

    <h3>Extends Tag</h3>

    <p>In previous pages we created two templates, one for listing all members and one for details about a 
       member.<br><br>
       These templates have a set of HTML code that are same for both templates.<br><br>
       Django provides a way of making a "parent template" that you can include in all pages to do stuff that
       is same in all pages.<br><br>
       Start by creating a template called <code>master.html</code>, with all necessary HTML elements:
    </p>

    <h4>Master</h4>

    <p><code>my_tennis_club/members/templates/master.html</code> :</p>

    {# Screenshot image of code for master.html template setup #}
    {# ./tested_images/master_template.html #}
    <img src="{% static 'images/testing/display_data/master_template/Master HTML Parent Template.png' %}">

    <p>Do you see Django block Tag inside <code>title</code> element and <code>body</code> element ?<br><br>
       They are placeholders, telling Django to replace this block with content from other sources.
    </p>

    <hr>

    <h3>Modify Templates</h3>
    
    <p>Now two templates (<code>all_members.html</code> and <code>details.html</code>) can use this 
       <code>master.html</code> template.<br><br>
       This is done by including master template with <code>{ % extends % }</code> tag and inserting a 
       <code>title</code> block and <code>content</code> block:<br><br>
    </p>
    <h4>Master</h4>
    <p><code>my_tennis_club/members/templates/all_members.html</code> :</p>

    {# Screenshot image of code for all_member.html template setup #}
    {# ./tested_images/all_members_template.html #}
    <img src="{% static 'images/testing/display_data/master_template/All Members now using Master.png' %}">

    <h4>Details</h4>
    <p><code>my_tennis_club/members/templates/details.html</code> :</p>

    {# Screenshot image of code for details.html template setup #}
    {# ./tested_images/details_template.html #}
    <img src="{% static 'images/testing/display_data/master_template/Details now using Master Template.png' %}">


    <p>You may already be in <code>/my_tennis_club/</code> folder, but if you are not, just type 
       <code>cd my_tennis_club</code> as shown in image below.
    </p>
   
    {# Screenshot image showing how to get into my_tennis_club folder  #} 

   
    <p>Now we can start Django built-in local host server, by typing following command shown below.</p> 
   
    {# Screenshot image showing command to run django built-in local host server #}

   
    <p>In browser window, type <code>127.0.0.1:8000/members</code> in web address bar and you 
       should get a result<br> shown in image below or you can click on 
       <a href="/members">Members Page Link</a> to also see how it is displayed.</p> 
   
    {# Screenshot image showing test_view page for a testing view run with django built-in local host server #}

</body>
</html>