
{# Now we use master template that has all block elements and navigation common in layout for web pages #}
{% extends "master.html" %} 

{% comment %}
<!DOCTYPE html> !DOCTYPE html and html tags now used in master.html Template
<html>
    <head> head tag is now used in master.html template
        <title>PostgreSQL</title> title tag is now used in master.html template {% endcomment %}
        {% block title %}   {# Using title block tag from master.html #} 
         Django Deployment
        {% endblock %} 
    {% comment %}    
    </head> closing head tag is now used in master.html template  

    <body> body tag is now used in master.html template {% endcomment %} 
    
    {# This child Content Block Tag is a placeholder, that tells Django to replace the master html parent #} 
    {# Content Block with contents in it below. It also inherit the parent body tag with this child block #}  
    {% block content %}  {# Using a child content block tag from master.html for body content of web page. #}  

    <h1><center>Deploy Django</center></h1> 

    <a href="/">Back</a>

    <h2>Deployment Provider</h2>

    <table border='3'>
        <tr>
           <th>Topic</th>
           <th>Description</th>
        </tr>
        <tr>
            <td><a href="/django_deploy/choose_provider">What is Deployment</a></td>
            <td>To understand deployment and what it means to deploy, click on What is Deployment link to make sense of this.</td>
        </tr>
        <tr>
            {# <td><a href="/django_deploy/choose_provider#aws_deploy">Login to AWS to Deploy</a></td> #}
            {# change id to aws #}
            <td><a href="/django_deploy/choose_provider#aws">Login to AWS to Deploy</a></td>
            <td>Click Login to AWS to Deploy link, so that we can prepare ourselves for choosing a deployment provider.</td>
        </tr>
        <tr>
            <td><a href="/django_deploy/choose_provider#eb">Elastic Beanstalk</a></td>
            <td>Get an understanding on a service we have chosen to deploy a Django project.</td>
        </tr>
    </table>    

    <h2>Create Requirements</h2>

    <table border='3'>
        <tr>
           <th>Topic</th>
           <th>Description</th>
        </tr>
        <tr>
            <td><a href="/django_deploy/requirements">Lock in Dependencies</a></td>
        </tr>
    </table>

    <h2>Create django.config</h2>

    <table border='3'>
        <tr>
           <th>Topic</th>
           <th>Description</th>
        </tr>
        <tr>
            {# <td><a href="/django_deploy/django_config">Provider-Specific Settings</a></td> #}
            {# change to /zip instead of /django_zip #}
            <td><a href="/django_deploy/config">Provider-Specific Settings</a></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="/django_deploy/config#create">Create django.config File</a></td>
            <td></td>
        </tr>
    </table>

    <h2>Create zip File</h2>

    <table border='3'>
        <tr>
           <th>Topic</th>
           <th>Description</th>
        </tr>
        <tr>
            {#<td><a href="/django_deploy/django_zip">Zip your Django Project</a></td> #}  
            {# change to /zip instead of /django_zip #}
            <td><a href="/django_deploy/zip">Zip your Django Project</a></td>
            <td>You can make your project more compact into a single file by following process explained in 
                Zip your Django Project link.</td>
        </tr>
    </table>

    <h2>Deploy with Elastic Beanstalk</h2>

    <table border='3'>
        <tr>
           <th>Topic</th>
           <th>Description</th>
        </tr>
        <tr>
            <td><a href="/django_deploy/deploy_eb">Elastic Beanstalk - Now Ready for Setup</a></td>
            <td>We are now ready to learn how to setup Elastic Beanstalk through its Application. </td>
        </tr>
        <tr>
            <td><a href="/django_deploy/deploy_eb#eb_app">Create Elastic Beanstalk Application</a></td>
            <td>Start learning process of how to create an EB App by Clicking on Create Elastic Application link.</td>
        </tr>
        <tr>
            <td><a href="/django_deploy/deploy_eb#eb_platform">Elastic Beanstalk platform</a></td>
            <td>Learning what a suitable platform is for Elastic Beanstalk.</td>
        </tr>
        <tr>
            <td><a href="/django_deploy/deploy_eb#zip_upload">Upload .zip File</a></td>
            <td>Learn process of how to upload zip file created earlier for Elastic Beanstalk.</td>
        </tr>
        <tr>
            <td><a href="/django_deploy/deploy_eb#deploy">Deploy</a></td>
            <td>Learn which button to click, so that the Django Project can be deployed to Elastic Beanstalk.</td>
        </tr>
        <tr>
            <td><a href="/django_deploy/deploy_eb#waiting">Deploy Waiting</a></td>
            <td>Be patient during deployment as it takes a few minutes with Elastic Beanstalk.</td>
        </tr>
        <tr>
            <td><a href="/django_deploy/deploy_eb#success">Deploy Success</a></td>
            <td>Finally you have great success and your Django project is live with Elastic Beanstalk.</td>
        </tr>

    </table>

    <h2>Update Django Project</h2>

    <table border='3'>
        <tr>
           <th>Topic</th>
           <th>Description</th>
        </tr>
        <tr>
            <td><a href="/django_deploy/update_project">Deploy Django Changes</a></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="/django_deploy/update_project#eb_upload">Upload to Elastic Beanstalk</a></td>
            <td></td>
        </tr>

    </table>

    {% endblock %}
    {% comment %}
    </body> closing body tag is now used in master.html template
<html> closing html tag is now used in master.html template {% endcomment %}   