
<!DOCTYPE html>
<html>
    <head><title>Django Filter Tag Reference</title>
    </head>

<body>

    <h2>Django Filter Tag Reference</h2>

    <h3>Template Filter - addslashes</h3>  
  
    <p>Addslashes Example</p>

    <p>Escape the quote in the name variable:</p>

    <h1>{{ name|addslashes }}</h1>

    <p>In views.py you can see what the name variable looks like.</p>

    <hr>

    <h3>Definition and Usage</h3>

    <p>The addslashes filter adds a slash \ character before any quotes.</p>

    <p>This can be helpful when you are dealing with JavaScript, and you have to escape quote characters.</p>

    <h4>Addslashes Filter Example with Button and Alert Message</h4>

    </p>Escape the name, or else you will get an error when alerting it:</p>

    {% comment%}
    <button onclick="alert('{{ name|addslashes }}')">Click me!</button>

    <p>This example would return an error when someone clicked the button,
    if we did not escape the quote in the name variable.</p>

    <p>In views.py you can see what the name variable looks like.</p>
    {% endcomment%}
    
    <p>Without the addslashes filter in the example above, the page would get an error when someone clicked the button.</p>
    
    <hr>        

    <h3>Syntax</h3>
    
    <p>Template filters are defined by using a pipe | character followed by the name of the filter.</p>

    </p>{{ value|addslashes }}</p>

</body>
</html>    


