
<!DOCTYPE html>
<html>
    <head><title>Django Filter Tag Reference</title>
    </head>

<body>

    {#<h2>Django Filter Tag Reference</h2> try larger heading#}
    <h1><center>Django Filter Tag Reference</center></h1>

    {#<h3>Template Filter - capfirst</h3> try larger heading#}  
    <h2>Template Filter - capfirst</h2>

    {#<p><b>Capfirst Example</b></p> better to have a heading I think#}
    <h3>Capfirst Example</h3>

    <p>Write an animal as a header (with first letter in upper case):</p>

    <h1>{{ animal|capfirst }}</h1>

    <p>In views.py you can see what the animal variable looks like.</p>


    <hr>    

    <h3>Definition and Usage</h3>
     
    <p>The <code>capfirst</code> filter capitalizes first letter of a value.</p>


    <hr>

    <h3>Syntax</h3>

    <p>Template filters are defined by using a pipe <code>|</code> character followed by name of filter.</p>

    <p>{ { <code>value| capfirst</code> } }</p>


</body>
</html>