
<!DOCTYPE html>
<html>
    <head><title>Django Filter Tag Reference</title>
    </head>

<body>

    <h2>Django Filter Tag Reference</h2>

    <h3>Template Filter - capfirst</h3>  
  
    <p><b>Capfirst Example</b></p> 

    <p>Write an animal as a header (with first letter in upper case):</p>

    <h1>{{ animal|capfirst }}</h1>

    <p>In views.py you can see what the animal variable looks like.</p>


    <hr>    

    <h3>Definition and Usage</h3>
     
    <p>The <code>capfirst</code> filter capitalizes first letter of a value.</p>


    <hr>

    <h3>Syntax</h3>

    <p>Template filters are defined by using a pipe | character followed by name of filter.</p>

    <p>{ { value| capfirst } }</p>


</body>
</html>