
<!DOCTYPE html>
<html>
    <head><title>Django Filter Tag Reference</title>
    </head>

<body>

    {#<h2>Django Filter Tag Reference</h2> try larger heading#}
    <h1><center>Django Filter Tag Reference</center></h1>

    {#<h3>Template Filter - cut</h3> try larger heading#}  
    <h2>Template Filter - cut</h2>

    {#<p><b>Cut Example to Remove Several Letters</b></p> better to have a heading I think#}
    <h3>Cut Example to Remove Several Letters</h3>

    <p>Remove phrase "snes" from name "Emil Refsnes":</p>

    <h1>{{ name|cut:"snes" }}</h1>

    <p>In views.py you can see what name variable looks like. The same cut view and variable are used for both examples.</p>

    <hr>

    <h3>Definition and Usage</h3>
 
    <p>The <code>cut</code> filter removes specified phrase from a value.</p>

    <p>The <code>cut</code> filter is case sensitive.</p>

    <p>All occurences of specified phrase/ character are removed.</p>

    {#<p><b>Cut Example to remove one letter</b></p> better to have a heading I think#}
    <h3>Cut Example to remove one letter</h3>

    <h1>{{ name|cut:"e" }}</h1>

    <hr>

    <h3>Syntax</h3>

    <p>{ { <code>value|cut:phrase</code> } }</p>

    <p>Template filters are defined by using a pipe | character followed by name of filter.</p>
    
    <p>Arguments are defined by using a colon : character followed by argument value.</p>

    <hr>

    <h3>Arguments</h3>

    <table border='3'>
      <tr>
        <th>Value</th>
        <th>Description</th>
      </tr>
      <tr>
        {#<td>phrase</td>#}s
        <td><code>phrase</code></td>
        <td>Required. A string specifying part to remove from a value.</td>
      </tr>
    </table>   

</body>
</html>