
<!DOCTYPE html>
<html>
    <head><title>Django Filter Tag Reference</title>
    </head>

<body>

    {#<h2>Django Filter Tag Reference</h2> try larger heading#}
    <h1><center>Django Filter Tag Reference</center></h1>

    {#<h3>Template Filter - default_if_none</h3> try larger heading#}  
    <h2>Template Filter - default_if_none</h2>

    {#<p><b>Default_if_none Example</b></p> better to have a heading I think#}  
    <h3>Default_if_none Example</h3>

    <p>Write color names, but write "nocolor" if value is none:</p>

    {% for x in colors %}
        <h1>{{ x|default_if_none:"nocolor" }}</h1>
    {% endfor %}

    <p>In views.py you can see what colors variable look like.</p>
     

    <h3>Definition and Usage</h3>
 
    <p>The <code>default_if_none</code> filter allows you to specify a default value to use if value is 
       <code>None</code>.
    </p>

    <p>The value has to be exactly <code>None</code> for this filter to have an effect.</p>

    <h3>Syntax</h3>

    <p>{ { <code>value|default_if_none:defaultvalue</code> } }</p>

    <p>Template filters are defined by using a pipe <code>|</code> character followed by name of filter.</p>
    <p>Arguments are defined by using a colon : character followed by argument value.</p>

    <h3>Arguments</h3>

    <table border='3'>
      <tr>
        <th>Value</th>
        <th>Description</th>
      </tr>
      <tr>
        {#<td>defaultvalue</td>#}
        <td><code>defaultvalue</code></td>
        <td>Required. The value to return if value is <code>None</code>.</td>
      </tr>
    </table>   


</body>
</html>