
<!DOCTYPE html>
<html>
    <head><title>Django Filter Tag Reference</title>
    </head>

<body>

    {#<h2>Django Filter Tag Reference</h2> try larger heading#}
    <h1><center>Django Filter Tag Reference</center></h1>

    {#<h3>Template Filter - dictsort</h3> try larger heading#}  
    <h2>Template Filter - dictsort</h2>

    {#<p><b>Dictsort Example</b></p> better to have a heading I think#}
    <h3>Dictsort Example</h3>

    </p>Sort a dictionary by year:</p>

    {% for x in cars|dictsort:"year" %}
        <p>{{x.year}} {{x.brand}} {{x.model}}.</p>
    {% endfor %}

    <p>In views.py you can see what cars variables in an array looks like.</p>
     

    <h3>Definition and Usage</h3>
 
    <p>The <code>dictsort</code> filter sorts a dictionary by a specified field.</p>

    <p>The <code>dictsort</code> filter sorts ascending.</p>
    
    <p>Use <a href="/filter/dictsortreversed">dictsortreversed</a> filter to sort descending.</p>

    <h3>Syntax</h3>

    <code>{ { value|dictsort:fieldname } }</code>

    <p>Template filters are defined by using a pipe <code>|</code> character followed by name of filter.</p>
    <p>Arguments are defined by using a colon : character followed by argument value.</p>

    <h3>Arguments</h3>

    <table border='3'>
      <tr>
        <th>Value</th>
        <th>Description</th>
      </tr>
      <tr>
        {#<td>fieldname</td>#}
        <td><code>fieldname</code></td>
        <td>Required. The name of the field to be sorted.</td>
      </tr>
    </table>   


</body>
</html>