
<!DOCTYPE html>
<html>
    <head><title>Django Filter Tag Reference</title>
    </head>

<body>

    <h2>Django Filter Tag Reference</h2>

    <h3>Template Filter - first</h3>  
  
    <p><b>First item in a list Example</b></p> 

    <p>Returns first item in a list:</p>

    <h1>{{ fruits|first }}</h1>

    <p> As you can see from this first example, we are using a django command, to display 
        first item from a list in an array for an object.</p>    

    <p>In views.py you can see what fruits variable looks like.</p>
     

    <h3>Definition and Usage</h3>
 
    <p>The <code>first</code> filter returns first item of an object
    
    <p>For string, the <code>first</code> filter returns first character.    


    <p><b>First string character Example</b></p> 

    <p>Return first character of a string:</p>

    {% include 'django_refs/filter/first_example2.html' %}

    <p>Use <a href="filter/last"><code>last</code></a> filter to return last item.</p>

    <h3>Syntax</h3>

    <p>Template filters are defined by using a pipe | character followed by name of filter.</p>

    { { value|first } }

    
    

</body>
</html>