
<!DOCTYPE html>
<html>
    <head><title>Django Filter Tag Reference</title>
    </head>

<body>

    <h2>Django Filter Tag Reference</h2>

    <h3>Template Filter - join</h3>  
  
    <p><b>Join Example</b></p> 

    <p>Join all items in a list into a string, using a hash character as a separator:</p>

    <h1>{{ fruits|join:"#" }}</h1>

    <p> As you can see from this join example, we are using a django command that has a seperator. 
        The seperator here is in the form of a # character and is used to join strings items.<br> 
        These string items are taken from a list in an array for an object.</p>

    <p>In views.py you can see what fruits variable looks like.</p>

    
    <hr>

    <h3>Definition and Usage</h3>
 
    <p>The <code>join</code> filter takes all items in an iterable and joins them into one string.</p> 

    <p>A string must be specified as a separator.</p>
   
    <hr>   

    <h3>Syntax</h3>

    {# { { <em>value</em>|join<em>:separator</em> } } #}
    { { <code>value|join:separator</code> } } 

    <p>Template filters are defined by using a pipe | character followed by name of filter.</p>
    <p>Arguments are defined by using a colon : character followed by argument value(s).</p>

    <hr>

    <h3>Arguments</h3>

    <table border='3'>
      <tr>
        <th>Value</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><em>separator</em></td>
        {#<td>digit</td>#}
        <td>Required. A string representing a separator.</td>
      </tr>
    </table>

</body>
</html>