
{#{% load static% %}#}
{# Written Content is in #}
{# Just need images for code on this page now #}

<!DOCTYPE html>
<html>
    <head><title>Django Filter Tag Reference</title>
    </head>

<body>

    {# <h2><center>Django Filter Tag Reference</center></h2> try larger heading#}
    <h1><center>Django Filter Tag Reference</center></h1>

    {#<h3>Template Filter - json_script</h3> try larger heading#} 
    <h2>Template Filter - json_script</h2>
  
    {#<p><b>Json_script Example</b></p> better to have a heading I think#}  
    <h3>Json_script Example</h3>

    <p>Convert an object into a JSON object:</p>

    {{ cars|json_script:"mycars" }}

    <p>Right-click in this frame and check out frame source to see added &lt;script&gt; element.</p>

    <p>In views.py you can see what cars variable looks like.</p>

    {# Image showing script tag appearing when right-clicking on page #}
    {# <img src="{% static 'images/django_admin/script_tag_appears_in_html_code.png' %}"> #}

    {#<p>In views.py you can see what cars variable looks like.</p> put this at finish of example #}

    {# Image showing what cars variable with it's array looks like in views.py file #}
    {# <img src="{% static 'images/django_admin/cars_array in view_file.png' %}"> #}

    <hr>

    <h3>Definition and Usage</h3>
 
    <p>The <code>json_script</code> filter converts an object, like a python tuple, into a JSON object surrounded by 
       &lt;script&gt; &lt;/script&gt; tags.
      {# < script > < / script > tags. #}
    </p> 

   
    <hr>   

    <h3>Syntax</h3>

    {# { { <em>value</em>|json_script<em>:id</em> } } #}
    {#This maybe better with code#}
    <p>{ { <code>value|json_script:id</code> } }</p>

    <p>Template filters are defined by using a pipe <code>|</code> character followed by name of filter.</p>
    <p>Arguments are defined by using a colon : character followed by argument value(s).</p>

    <hr>

    <h3>Arguments</h3>

    <table border='3'>
      <tr>
        <th>Value</th>
        <th>Description</th>
      </tr>
      <tr>
        {#<td><em>id</em></td>#}
        <td><code>id</code></td>
        {#<td>digit</td>#}
        <td>Required. A string that will be an id value of a script element.</td>
      </tr>
    </table>

</body>
</html>