
<!DOCTYPE html>
<html>
    <head><title>Django Filter Tag Reference</title>
    </head>

<body>

    {#<h2>Django Filter Tag Reference</h2> try larger heading#}
    <h1><center>Django Filter Tag Reference</center></h1>

    {#<h3>Template Filter - linebreaksbr</h3> try larger heading#}
    <h2>Template Filter - linebreaksbr</h2>
  
    {#<p><b>Linebreaksbr Example</b></p> better to have a heading I think#}  
    <h3>Linebreaksbr Example</h3>

    <p>Convert any line breaks into &lt;br&gt;:</p>

    <h3>Without linebreaksbr filter:</h3>

    {{ mytext }}

    <h3>With linebreaksbr filter:</h3>

    {{ mytext|linebreaksbr }}

    <p>Right-click in this frame and check out the frame source to see the added &lt;br&gt; elements.</p>

    <p>In views.py you can see what the mytext variable looks like.</p>


    <hr>    

    <h3>Definition and Usage</h3>
     
    <p>The <code>linebreaksbr</code> filter replaces line breaks with &lt;br&gt; elements.</p>

    <p>The difference between this filter and <a href="/filter/linebreaks">linebreaks</a> filter is that this filter
       replaces double line breaks with two &lt;br&gt;<br> elements, but the linebreaks filter replaces double line
       breaks with a &lt;p&gt; element.
    </p>

    <hr>

    <h3>Syntax</h3>

    <p>{ { <code>value|linebreaksbr</code> } }</p>

    <p>Template filters are defined by using a pipe <code>|</code> character followed by name of filter.</p>

</body>
</html>