
<!DOCTYPE html>
<html>
    <head><title>Django Filter Tag Reference</title>
    </head>

<body>

    {#<h2>Django Filter Tag Reference</h2> try larger heading#}
    <h1><center>Django Filter Tag Reference</center></h1>

    {#<h3>Template Filter - lower</h3> try larger heading#} 
    <h2>Template Filter - lower</h2>
  
    {#<p><b>Lower Example</b></p> better to have a heading I think#} 
    <h3>Lower Example</h3>
 
    <p>Display firstname with all lower case letters:</p>


    <h1>{{ firstname|lower }}</h1>

    <p>In views.py you can see what firstname variable looks like.</p>

    <hr>
    
    <h3>Definition and Usage</h3>
 
    <p>The <code>lower</code> filter returns a value in all lower case letters.</p>

    <hr>

    <h3>Syntax</h3>

    <p>Template filters are defined by using a pipe <code>|</code> character followed by name of filter.</p>
   
    <p>{ { <code>value|lower</code> } }</p>
    
</body>
</html>