
<!DOCTYPE html>
<html>
    <head><title>Django Filter Tag Reference</title>
    </head>

<body>

    {#<h2>Django Filter Tag Reference</h2> try larger heading#}
    <h1>Django Filter Tag Reference</h1>

    {#<h3>Template Filter - phone2numeric</h3> try larger heading#} 
    <h2>Template Filter - phone2numeric</h2>
  
    {#<p><b>Phone2numeric Example</b></p> better to have a heading I think#}
    <h3>Phone2numeric Example</h3>
 
    <p>Display actual phone number:</p>


    <h1>{{ phone|phone2numeric }}</h1>

    <p>In views.py you can see what phone variable looks like.</p>

    <hr>
    
    <h3>Definition and Usage</h3>
 
    <p>The <code>phone2numeric</code> filter converts any letter in a phone number like into actual numeric 
       phone number.
    </p>

    <p>E.g. "555-automobile" becomes 555-288662453.</p>

    <hr>

    <h3>Syntax</h3>

    <p>Template filters are defined by using a pipe <code>|</code> character followed by name of filter.</p>
   
    <p>{ { <code>value|phone2numeric</code> } }</p>
    
</body>
</html>