
{#{% load static% %}#}
{# Written Content is in #}
{# Just need images for code on this page now #}
<!DOCTYPE html>
<html>

  <head>
    <title>Django Template Tag Reference</title>
  </head>  

<body>

    {#<h2>Django Template Tag Reference</h2> try larger heading#}
    <h1><center>Django Template Tag Reference</center></h1>

    {#<h3>Striptags Template Tag</h3>try larger heading and should be Template Filter - striptags#}  
    <h1>Template Filter - striptags</h1>  

    {#<h4>Striptag Example</h4> try larger heading#}
    <h2>Striptag Example</h2>

    <p>Remove HTML from text:</p>

    <h3>Without striptags filter:</h3>

    {{ mytext }}

    <h3>With striptags filter:</h3>

    {{ mytext|striptags }}

    <p>As you can see from this text example, <b>without striptags</b> has html tags shown with text
       and<br> <b>striptags</b> has no html tags shown, so just text is shown.
    </p>

  {# Image below for showing code for this example #}
  {# <img src=""> #}

  {# Show image of views.py file #}

  {#<p>Check out views.py to see what text variable looks like.</p>#}
  <p>In views.py you can see what mytext variable looks like.</p>

  {# Show image of Django code in HTML file #}

  {# Explain Django code in HTML file #}

  <hr>

  {#<h3>Definition and Usage</h3> try larger heading#}
  <h2>Definition and Usage</h2>

  <p>The <code>striptags</code> filter removes any html tags from a value.</p>

  
  <hr>

  {#<h3>Syntax</h3> try larger heading#}
  <h2>Syntax</h2>

  {# Need space below between a curly brace { and %, so that it can be displayed as text and does not think it is code #} 
  {#{ % value|<em>striptags</em> % }#}
  <p>{ { <code>value|striptags</code> } }</p> 


  <p>Template filters are defined by using a pipe <code>|</code> character followed by name of filter.</p>

</body>
</html>