
<!DOCTYPE html>
<html>
    <head><title>Django Filter Tag Reference</title>
    </head>

<body>

    <h2>Django Filter Tag Reference</h2>

    <h3>Template Filter - upper</h3>  
  
    <p><b>Upper Example</b></p> 

    <p>Display firstname with all upper case letters:</p>

    <h1>{{ firstname|upper }}</h1>

    <p>In views.py you can see what firstname variable looks like.</p>

    
    <hr>

    <h3>Definition and Usage</h3>
 
    <p>The <code>upper</code> filter returns a value in all upper case letters.</p> 
   
    <p>See also <a href = "/filter/lower.html">lower</a> filter</p>


    <hr>   

    <h3>Syntax</h3>

    <p>Template filters are defined by using a pipe | character followed by name of filter.</p>

    { { <em>value</em>|upper } }

</body>
</html>