
{# Now we use master template that has all block elements and navigation common in layout for web pages #}
{% extends "master.html" %} 

{% comment %}
<!DOCTYPE html> !DOCTYPE html and html tags now used in master.html Template
<html>
    <head> head tag is now used in master.html template
        <title>PostgreSQL</title> title tag is now used in master.html template{% endcomment %} 
        {% block title %}   {# Using title block tag from master.html #} 
        PostgreSQL
        {% endblock %}
    {% comment %}    
    </head> closing head tag is now used in master.html template   

    <body> body tag is now used in master.html template{% endcomment %} 
    
    {# This child Content Block Tag is a placeholder, that tells Django to replace the master html parent #} 
    {# Content Block with contents in it below. It also inherit the parent body tag with this child block #}  
    {% block content %}  {# Using a child content block tag from master.html for body content of web page. #}  

    <h1><center>PostgreSQL with Django</center></h1> 

    <a href="/">Back</a>

    <h2>PostgreSQL Introduction</h2>

    <table border='3'>
        <tr>
           <th>Topic</th>
           <th>Description</th>
        </tr>
        <tr>
            {# <td><a href="/testing/django_podtgresql/database_engines">Database Engines</a> </td> #}
            {# Get rid of testing from link above #}
            {#<td><a href="/django_postgresql/intro#database_engines">Database Engines</a> </td>#}
            <td><a href="/django_postgreSQL/intro">Database Engines</a> </td>

            <td>Django comes with SQLite database, but that only works during development. Click on Database Engines link to find out
                <br> what is suitable at production stage.</td> 
        </tr>
        <tr>
            <td><a href="/django_postgreSQL/intro#postgreSQL">PostgreSQL</a> </td>
            <td>PostgreSQL is a suitable database engine for django. Click on Postgresql link to find out why.</td> 
        </tr>
        <tr>
            <td><a href="/django_postgreSQL/intro#install_psycopg2">Install Psycopg2</a> </td>
            <td>To be able to use PostgreSQL in Django install psycopg2 package. Click on Install Psycopg2 link to find out how.</td> 
        </tr>
    </table>

    <h2>Create AWS Account</h2>

    <table border='3'>
        <tr>
           <th>Topic</th>
           <th>Description</th>
        </tr>
        <tr>
            <td><a href="/django_postgreSQL/AWS">AWS</a></td>
            <td>Discover why Amazon Web Services is a great provider for hosting Django projects and PostgreSQL databases. Click on AWS link</td>
        </tr>
        <tr>
            <td><a href="/django_postgreSQL/AWS#sign_in">AWS Sign In</a></td>
            <td>Create a sign in for AWS account.</td>
        </tr>    
        <tr>
            <td><a href="/django_postgreSQL/AWS#console">AWS Console</a></td>
            <td>First time users of Amazon Web Services will be directed to a Console Home Page.</td>
        </tr>
        <tr>
            <td><a href="/django_postgreSQL/AWS#RDS">RDS</a></td>
            <td>RDS is a relational database service and you can find out more on RDS link.</td>
        </tr>
    </table>    

    <h2>Create Database in RDS</h2>

    <table border='3'>
        <tr>
           <th>Topic</th>
           <th>Description</th>
        </tr>
        <tr>
            <td><a href="/django_postgreSQL/RDS">Create Database</a></td>
            <td>We show you how to create a Database in RDS. Find out more by clicking on Create Database link.</td>
        </tr>    
        <tr>
            <td><a href="/django_postgreSQL/RDS#dbase_settings">RDS Database Settings</a></td>
            <td>You can organise settings for your database after you have created it. Click on RDS Database Settings to find out how.</td>
        </tr>    
    </table>

    <h2>Connect to Database</h2>

    <table border='3'>
        <tr>
           <th>Topic</th>
           <th>Description</th>
        </tr>
        <tr>
            {# <td><a href="/django_postgreSQL/rds_dbase_settings">Modify Settings</a></td> #}
            {# Use this link instead below #}
            <td><a href="/django_postgreSQL/RDS_Connect">Modify Settings</a></td>
            <td>To make Django connect to database we have to make a change in settings. Click on modify settings to see how.</td>
        </tr>
        <tr>
            {# <td><a href="/django_postgreSQL/rds_dbase_settings#migrate">Migrate</a></td> #}
            {# Use this link instead below #}
            <td><a href="/django_postgreSQL/RDS_Connect#migrate">Migrate</a></td>
            <td>We need to make a migration so that a connection can be made to database. Click on Migrate to see how.</td>
        </tr>
    </table>

    <h2>Add Members</h2>

    <table border='3'>
        <tr>
           <th>Topic</th>
           <th>Description</th>
        </tr>
        <tr>
            <td><a href="/django_postgreSQL/members">Members</a></td>
            <td>Currently RDS database does not have any members. Find out how to add members for an RDS database with postgreSQL.</td>
        </tr>
        <tr>
            <td><a href="/django_postgreSQL/members#superuser">Create Superuser</a></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="/django_postgreSQL/members#add_members">Add Members</a></td>
            <td>We have to add members again. so that Amazon Web Services can host a postgreSQL database. See how to do this through Add Members link.</td>
        </tr>    
    </table>

    {% endblock %}
   {% comment %}
   </body> closing body tag is now used in master.html template
<html> closing html tag is now used in master.html template {% endcomment %}