
<!DOCTYPE html>
<html>
    <head><title>Django iendswith Reference</title>
    </head>    
 
<body>

    <h2>Django Field Lookup Tag Reference</h2>

    <h3>Field Lookups - iendswith</h3>  
  
    <p><b>Iendswith Example</b></p>

    <p>Get all records where firstname ends with letter "s":</p>

    <p>The queryset object:</p>

    {{ mymembers }}

    <p>Loop through the items:</p>

    <table border='1'>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
        </tr>
        {% for x in mymembers %}
        <tr>
            <td>{{ x.id }}</td>
            <td>{{ x.firstname }}</td>
            <td>{{ x.lastname }}</td>
        </tr>
        {% endfor %}
    </table>

    <hr>

    <h3>Definition and Usage</h3>

    <p>The iendswith lookup is used to get records that end with a specified value.</p>

    <p>The iendswith lookup is case insensitive.</p>

    <p>For a case sensitive search, use endswith lookup.</p>
    
    <hr>

    <h3>SQL Equivalent</h3>

    <p>The SQL equivalent to the example above will be:</p>

    <p>WHERE firstname LIKE '%s';</p>

    <hr>

    <h3>Syntax</h3>

    <p>All Field lookup keywords must be specified with fieldname, followed by two(!) underscore characters __ and a keyword:</p>

    <p>fieldname__iendswith='value'</p>