
{# <!DOCTYPE html> #}
{# <html> #}
    {# <head><title>Django Contains Reference</title> #}
    {# </head> #}    
 
{# <body> #}

    {# <h2>Django Syntax Section</h2> #}    

    {# <h3>Django Include Tag</h3> #}    

    {#<h4>Include</h4> #}
    
    {#<p>The <b>include</b> tag allows you to include a template inside the current template.</p>#}
    {# <p>The <code>include</code> tag allows you to include a template inside current template.</p> #}

    {# <p>This is useful when you have a block of content that is the same for many pages.</p> #}

    {# <h4>Include with Footer Example</h4> #}

    {# <h1>Hello</h1> #}

    {# <p>This page contains a footer in a template.</p> #}

    {# {% include 'testing/footer.html' %} #}

    {# <p>Check out two templates to see what they look like, and views.py to see reference to child template.</p> #}



    {# Do a screen shot to show code in files as an image #}

    {#<p><b>Include Example Code</b></p>#}

    {#<p><b>templates/testing/footer.html: </b></p>#}

    {#<p>< p >You have reached the bottom of this page, thank you for your time.< /p ></p>#}

    {#<p><b>templates/testing/include.html: </b></p>#}

    {#<p><b>< h1 >Hello< /h1 ></b><p>#}

    {#<p> < p >This page contains a footer in a template.< /p ></p>#}

    {#<p>{ % include 'footer.html' % } </p>#}

    {#<p><b>views.py</b></p>#}
    {#<p>We get include.html template from views.py and it has a view name def include.</p>#}

    {#<p><b>Include Code Result below</b></p>#}

    {#<h1>Hello</h1>#}

    {#<p>This page contains a footer in a template.</p>#}
        
    {#{% include 'footer.html' %}#}
        
    {#<p>Check out the two templates to see what they look like, and views.py to see the reference to the child template.</p>#}
      
    {#For last Variables in Include example, we are using include_variables template to be included in this template,#}
    {#so that this example can use all the same route /testing/include for both of these examples.#} 
    {#{% include 'include_variables' %#}





    {# <h4 id="include_variables">Variables in Include</h4> #}
    {#<h4>Variables in Include</h4>#}

    {# <p>You can send variables into template using <b>with</b> keyword.</p> #}
    {# <p>You can send variables into template using <code>with</code> keyword.</p> #}

    {# <p>In include file, you refer to variables by using { { <code>variablename</code> } } syntax:</p> #}

    {# <h4>Include with Variables Example</h4> #}

    {# W3Schools template below used for this Include with Variables example #}
    {# {% include "testing/mymenu.html" with me="TOBIAS" sponsor="W3SCHOOLS" %} #}

    {# <h1>Welcome</h1> #}

    {# <p>This is my website.</p> #} 

    {# <p>Check out mymenu.html to see HTML content of include.</p> #}







    {#Comment original below because code to do this can be shown on an image screenshot#}
    
    {#<p><b>Variables in Include Example Code</b></p>#}

    {#<p><b>templates/testing/mymenu.html: </b></p>#}

    {#<p>< div >HOME | { {me }  | ABOUT} | FORUM | { { sponsor } }< /div ></p>#}

    {#<p><b>templates/testing/include_variables.html: </b></p>#}

    {#<p>< !DOCTYPE html ></p>#}
    {#<p>< html > </p>#}
    {#<p>< body> </p>#}

    {#<p>{ % include "mymenu.html" with me="TOBIAS" sponsor="W3SCHOOLS" % } </p>#}

    {#<p><b>< h1 >Hello< /h1 ></b></p>#}

    {#<p>This is my webpage.</p>#}

    {#<p>< /body> </p>#}
    {# <p>< /html >  </p>#}   

    {# <p><b>Variables in Include Code Result below</b></p> #}

    {#This includes Variables in Include Example within same page as Include Example #}
    {# and on same /testing/include route. #}   
    {# {% include '/templates/testing/include_variables' %} #}

{# </body> #} 

{# </html> #}