
{# Handles images and videos from static folder #}
{# {% load static %} #}

<!DOCTYPE html>

<html>
    <head><title>Django Queryset Get</title>
    </head> 

    <body>

        <h1><center>Django QuerySet - Filter</center></h1>

        <h3>QuerySet Filter</h2>

        <p>filter() method is used to filter your search and allows you to display only rows that match a search item.
           <br><br>
           As we learned in previous QuerySet Get page, we can filter on field names like this :
        </p>





        <h3 id="and">AND</h3>

        
        
        <hr>

        <h3 id="or">OR</h3>

        

        {# <img src="{% static 'testing/images/display_specific_columns.png' %}"> #}

        <hr>

        <h3 id="field_lookups">Field Lookups</h3>

        <p>Django has its own way of specifying SQL statements and WHERE clauses.<br><br>
           To make specific where clauses in Django we use "Field Lookups".<br><br>
           Field lookups are keywords that represent specific SQL keywords.<br><br>
           All field lookup keywords must be specified with a fieldname, followed by two underscore characters and a keyword.
        </p>

       

        <p>If you want to learn more about Field Lookups, you can check out a whole list of keywords in  
           <a href="/field">reference section</a> .</p>

        <p>You can learn more about filter() method next with <a href="/testing/queryset_filter">QuerySet Filter</a> .</p>

    </body>
</html>