
{# Handles images and videos from static folder #}
{# {% load static %} #}

<!DOCTYPE html>

<html>
    <head><title>Django Queryset Order By</title>
    </head> 

    <body>

        <h1><center>Django QuerySet - Order By</center></h1>

        <h3>QuerySet Order By</h2>

        <p>To sort QuerySets, Django uses an order_by() method :
        </p>





        <h3 id="descend">QuerySet Descending Order</h3>

        {# <img src="{% static 'testing/images/display_specific_columns.png' %}"> #}
        
        <hr>


        

        <h3 id="multiple">Multiple Order Bys</h3>

        <p>To order by more than one field, seperate fieldnames with a comma in <code>order_by()</code> method :
        </p>

       

        <p>If you want to learn more about Field Lookups, you can check out a whole list of keywords in  
           <a href="/field">reference section</a> .</p>

        <p>You can learn more about filter() method next with <a href="/testing/queryset_filter">QuerySet Filter</a> .</p>

    </body>
</html>