
<!DOCTYPE html>
<html>
    <head><title>Django For Tag</title>
    </head> 

<body>
  
    <h1><center>Display Data<center></h1>

    <h2>Django Prepare Template</h2>   

    <h3>Create Template</h3>

    <p>After creating Models, with fields and data we want in them, it is time to display data in a web page.</p>

    <p>Start by creating an HTML file named <code>all_members.html</code> and place it in <code>/templates/</code>
       folder:</p>

    <p><code>my_tennis_club/members/templates/all_members.html</code> :</p>   

    {# Screenshot image of all_member.html code for template  #}

    <p>Do you see <code>{ %  % }</code> brackets inside HTML document ?</p> 

    <p>They are Django Tags, telling Django to perform some programming logic inside these brackets.</p>

    <p>You can learn more about <a href="/testing/tags_tested">Django Tags here</a></p> 

    <hr>
    
    <h3 id="prepare_view">Modify View</h3>

    <p>Next we need to make model data available in template and this is done in a view.</p>

    <p>In a view we have to import  <code>Member</code> model and send it to a template, as shown in image below:</p>

    <p><code>my_tennis_club/members/views.py</code> :</p>

    {# Screenshot image of views.py code for members view  #}

    <p>The <code>members</code> view does the following:</p>

    <ul>
        <li>Creates a <code>mymembers</code> object with all values of <code>Member</code> model.</li>
        <li>Loads <code>all_members.html</code> template</li>
        <li>Creates an object containing <code>mymembers</code> object.</li>
        <li>Sends an object to a template.</li>
        <li>Outputs HTML that is rendered by template.</li>
    </ul>    

    <p>You may already be in <code>/my_tennis_club/</code> folder, but if you are not, just type 
       <code>cd my_tennis_club</code> as shown in image below.
    </p>

    {# Screenshot image showing how to get into my_tennis_club folder  #}   

    <p>Now we can start Django built-in local host server, by typing following command shown below.</p> 

    {# Screenshot image showing command to run django built-in local host server #}

    <p>In browser window, type <code>127.0.0.1:8000/members/</code> in web address bar and you should get a 
        result<br> shown in image below or you can click on this <a href="/members">Members Page Link</a> to 
        see also how it is displayed.</p> 

    {# Screenshot image showing Members page run with django built-in local host server #}

</body>
</html> 