
{# This is an HTML Template for Testing Home Page to Django Examples used for Testing   #}
{# Testing Home Page has Links to these Django Examples and it has a /testing/ url.#}

{# Now we use master template that has all block elements and navigation common in layout for web pages #}
{% extends "master.html" %}

{% comment %}
<!DOCTYPE html> !DOCTYPE html and html tags now used in master.html Template
<html>

  <head> head tag is now used in master.html template
    <title>Django Examples</title> title tag is now used in master.html template 
      <h2> {% endcomment %}
      {% block title %}    {# Using title block tag from master.html #}  
        Django Examples
      {% endblock %}
      {% comment %}</h2>
      <hr>  
  </head> closing head tag is now used in master.html template  

  <body>  body tag is now used in master.html template{% endcomment %}

  {# This child Content Block Tag is a placeholder, that tells Django to replace the master html parent #} 
  {# Content Block with contents in it below. It also inherit the parent body tag with this child block #}  
  {% block content %}  {# Using a child content block tag from master.html for body content of web page. #}

    {# <h2>Django Examples</h2> change to h1 heading for main heading of page #}
    <h1><center>Django Examples</center></h1>

    <a href="/">Back</a>

    <p>A List of all Django Examples Tested for how they are displayed:</p> 

    <h2>Display Data</h2>

      <table border='3'>
        <tr>
          <th>Task</th>
          <th>Description</th>
        </tr>
        <tr>
          <td><a href="/testing/prepare_template">Prepare Template</a> </td>
          <td>In django we create a template with HTML in a templates folder. <br>
              As well as HTML, a template uses django tags and this is covered in more detail, when you click on link.
          </td> 
        </tr>
        <tr>
          <td><a href="/testing/prepare_template#prepare_view">Prepare Django View</a></td>
          <td>In django we want to make model data taken from database available in template.<br>
              A django view is used to do this.
          </td>
        </tr> 
        <tr>
          <td><a href="/testing/details_link">Add Link to Details</a></td>
          <td>Create a Details template and make a link from members template back to new details template.<br>
              The process of how this works is covered in more detail when you click on link. 
          </td> 
        </tr> 
        <tr>
          <td><a href="/testing/details_link#details_view">Add Details View</a></td>
          <td>In django we need to add a details view, so that the the link goes to correct URL.</td>
        </tr> 
        <tr>
          <td><a href="/testing/master_template">Add Master Template</a></td>
          <td>In django we need to add a master template, so that a group of pages having same structure can use<br>
              a common template.</td>
        </tr>
        <tr>
          <td><a href="/testing/main_page">Add Main Index Page</a></td>
          <td>In django we need to add a main page for the whole website. <br>
              This main page has links to everything on website and can also be called a home page.</td>
        </tr>
        <tr>
          <td><a href="/testing/django_404">Django 404 Template</a></td>
          <td>In django a 404 is an error that relates to a page not being found. <br>
              A 404 template uses a message to appear when this happens.</td>
        </tr>
        <tr>
          <td><a href="/testing/add_test_view">Add Test View</a></td>
          <td>Add a view to test how code works.</td>
        </tr>
        <tr>
          <td><a href="/testing/django_forms">Django Forms</a></td>
          <td>Learn how to make a Form with Django.</td>
        </tr>
      </table>


    <h2>Django Syntax</h2>

    <h3>Django Variables</h3>

      <table border='3'>
         <tr>
            <th>Tag</th>
            <th>Description</th>
         </tr>
         <tr>
            {#<td><a href="/testing/template_variable">Template Variable</a> </td>#}
            <td><a href="/testing/variables_tested">Django Variable</a> </td>
            <td>In Django templates, you can render (show) variables by putting them <b> inside { {  } } curly brackets </b>.</td> 
         </tr>
         <tr>
            {#<td><a href="/testing/view_variable">Variable in View</a></td>#}
            <td><a href="/testing/variables_tested#view">Template Variable</a> </td>
            <td>A variable in a views.py file is sent to a template through this view.</td>
         </tr> 
         <tr>
            {#<td><a href="/testing/template_variables">Variables in Template</a></td>#}
            <td><a href="/testing/variables_tested#template">Template Variable</a> </td>
            <td>You can also create a variable and assign it a value directly in a template, by using <br><b>{ % with % } </b> template tag. <br> An assigned variable can then be used as a template variable with <b>{ { } } brackets</b>, as mentioned above. <br> The assigned variable is available for use until the <b>closing tag { % endwith % } appears</b>. </td> 
         </tr> 
         <tr>
            {#<td><a href="/testing/model_data">Data From a Model</a></td>#}
            <td><a href="/testing/variables_tested#model_data">Data From a Model</a></td>
            <td>Normally, most of external data you want to use in a template, comes from a table in a database called a <br>model. To get data from a model, an import has to be created in views.py file and data is extract from it<br> in a view. Data can now be used in an HMTL Template by using a <b>For Loop Django Template Tag <br>{ % for % } </b> to loop through an object that has all values of a model.</td>
         </tr> 
        </table> 


    <h3>Django Tags</h3>     

        <table border='3'>
         <tr>
          <th>Tag</th>
          <th>Description</th>
         </tr>  
         <tr>
          {#<td><a href="/testing/template_tags">Template Tags</a></td>#}
          <td><a href="/testing/tags_tested">Template Tags</a></td>
          <td>In Django templates, you can perform programming logic like executing <b>if</b> statements and <b>for</b> loops. These<br> keywords, <b>if</b> and <b>for</b> are called "template tags" in Django. <br>To execute template tags, we surround them in { % % }.</td>
         </tr>
         <tr>
          {#<td><a href="/testing/django_code">Django Code</a></td>#}
          <td><a href="/testing/tags_tested#django_code">Django Code</a></td>
          <td>Django Template tags are a way of telling Django that here comes something else other than plain HTML. They<br> also allow us to do some programming on server before sending HTML to client.</td>
         </tr> 
        </table> 



    <h3>Django If Else</h3>     

         <table border='3'>
          <tr>
           <th>Tag</th>
           <th>Description</th>
          </tr> 
         <tr>
          {# <td><a href="/testing/if">If Statement</a></td> #}
          <td><a href="/testing/if_tested">If Statement</a></td>
          <td>An <code>if statement</code> evaluates a variable and executes a block of code if the value is true.</td>
         </tr>
         <tr>
          {# <td><a href="/testing/elif">Elif</a></td>#}
          <td><a href="/testing/if_tested#elif">Elif</a></td>
          <td>The <code>elif</code> keyword says "if the previous conditions were not true, then try this condition".</td>
         </tr>
         <tr>
          {#<td><a href="/testing/else">Else</a></td>#}
          <td><a href="/testing/if_tested#else">Else</a></td>
          <td>The <code>else</code> keyword catches anything which isn't caught by the preceding conditions.</td>
         </tr>
         <tr>
          {#<td><a href="/testing/drop_operator">Operater dropped</a></td>#}
          <td><a href="/testing/if_tested#drop_operator">Operater dropped</a></td>
          <td>An <code>operator</code> can be <code>dropped</code> if you just want to check if a variable is not empty</td>
         </tr>
         <tr>
          {#<td><a href="/testing/==_operator">Operator ==</a></td>#}
          <td><a href="/testing/if_tested#==_operator">Operator ==</a></td>
          <td>This is an <code>equal to</code> operator.<br>
              It compares if left side variable is equal to a value on right hand side of an expression.<br> 
              If both sides are equal, then code below expression gets displayed, but if they are not then <br>
              nothing gets displayed.</td>
         </tr>
         <tr>
          {#<td><a href="/testing/!=_operator">Operator !=</a></td>#}
          <td><a href="/testing/if_tested#!=_operator">Operator !=</a></td>
          <td>This is a <code>not equal</code> to operator. <br>It compares if left side variable is not equal to a value on right hand side of an expression. <br>
              If both sides are not equal, then code below expression gets displayed, but if they are equal then <br>
              nothing gets displayed.</td>
         </tr>
        <tr> 
          {# <td><a href="/testing/!=_operator">Operator < </a></td>#} 
          <td><a href="/testing/if_tested#<_operator">Operator < </a></td>
          <td>This is a <code>less than</code> operator.</td>
        </tr>
        <tr>        
          {#<td><a href="/testing/!=_operator">Operator <=</a></td>#}
          <td><a href="/testing/if_tested#<=_operator">Operator <=</a></td>
          <td>This is a <code>less than</code> and <code>equal to</code> operator.</td>
        </tr>
        <tr>
          <td><a href="/testing/if_tested#>_operator">Operator > </a></td>
          <td>This is a <code>greater</code> than operator.</td>
        </tr>        
        <tr>
          <td><a href="/testing/if_tested#>=_operator">Operator >=</a></td>
          <td>This is a <code>greater than</code> and <code>equal</code> to operator.</td>
        </tr>
        <tr>
          <td><a href="/testing/if_tested#and_operator">Operator <b>and</b> </a></td>
          <td>This is an <code>and</code> operator. It considers 2 conditions when deciding what to display.</td>
        </tr>
        <tr>        
          <td><a href="/testing/if_tested#or_operator">Operator <b>or</b> </a></td>
          <td>This is an <code>or</code> operator.</td>
        </tr>       
        <tr>
          <td><a href="/testing/if_tested#and-or_operator">Operator <b>and / or</b> </a></td>
          <td>This a <code>and</code> operator with an <code>or</code> operator combined.</td>
        </tr> 
        <tr>       
          <td><a href="/testing/if_tested#in_operator">Operator <b>in</b> </a></td>
          <td>This is an <code>in</code> operator.</td>
        </tr>
        <tr>        
          <td><a href="/testing/if_tested#not-in_operator">Operator <b>not in</b> </a></td>
          <td>This is a <code>not in</code> operator.</td>
        </tr>
        <tr>        
          <td><a href="/testing/if_tested#is_operator">Operator <b>is</b> </a></td>
          <td>This is an <code>is</code> operator.</td>
        </tr>
        <tr>        
          <td><a href="/testing/if_tested#==replace_is_operator">Operator <b>== replace is</b> </a></td>
          <td>This is an <code>equal to</code> operator with an <code>is</code> operator combined.</td>
        </tr>
        <tr>        
          <td><a href="/testing/if_tested#if_is_&_with_operator">Operator <b>is & with</b> </a></td>
          <td>This is an <code>is</code> operator and <code>with</code> operator combined.</td>
        </tr>
        <tr>        
          <td><a href="/testing/if_tested#is-not_operator">Operator <b>is not</b> </a></td>
          <td>This is an <code>is not</code> operator. It uses an if statement to determine if 2 variables are not the same and if this<br> 
              is correct then display something.</td>
        </tr>
       </table> 


    <h3>Django For Loop</h3>     

      <table border='3'>
        <tr>
          <th>Tag</th>
          <th>Description</th>
        </tr>

        <tr>
          {# <td><a href="/testing/reversed">For Loops</a></td> #}
          {#Link changed to this below#}
          <td><a href="/testing/for_loop_tested">For Loops</a></td>
          <td>A for loop is used for iterating over a sequence, like looping over items in an array, a list, or a dictionary.</td>
        </tr>
        <tr>
          {# <td><a href="/testing/reversed">Data From a Model</a></td> #}
          <td><a href="/testing/for_loop_tested#model_data">Data From a Model</a></td>
          <td>.</td>
        </tr>        
        <tr>
          <td><a href="/testing/for_loop_tested#reversed">Reversed</a></td>
          <td>The reversed keyword is used when you want to do the loop in reversed order.</td>
        </tr>
        <tr>
          <td><a href="/testing/for_loop_tested#empty">Empty - Empty Object</a></td>
          <td>The empty keyword can be used if you want to do something special if the object is empty.</td>
        </tr>        
        <tr>
          <td><a href="/testing/for_loop_tested#empty_noobject">Empty - No Object</a></td>
          <td>The empty keyword can also be used if the object does not exist:</td>
        </tr>
        <tr>
          
          <td><a href="/testing/for_loop_tested#counter">forloop.counter</a></td> 
          <td>The current iteration, starting at 0.</td>
        </tr>
        <tr>
          {# <td><a href="/testing/counter0">forloop.counter0</a></td> #}
          <td><a href="/testing/for_loop_tested#counter0">forloop.counter0</a></td> 
          <td>The current iteration, starting at 0.</td>
        </tr>
        <tr>
          {# <td><a href="/testing/loop_first">forloop.first</a></td> #}
          <td><a href="/testing/for_loop_tested#first">forloop.first</a></td>
          <td>Allows you to test if the loop is on its first iteration.</td>
        </tr>
        <tr>
          {# <td><a href="/testing/loop_last">forloop.last</a></td> #}
          <td><a href="/testing/for_loop_tested#last">forloop.last</a></td>
          <td>Allows you to test if the loop is on its last iteration.</td>
        </tr>
        <tr>
          <td><a href="/testing/for_loop_tested#parent">forloop.parentloop</a></td>
          <td>Allows you to use a parent loop with a child loop.<br>
              These can be used with array objects when you want to nest a child list within a parent list.
          </td>
        </tr>
        <tr>
          {# <td><a href="/testing/rev_counter">forloop.revcounter</a></td> #}
          <td><a href="/testing/for_loop_tested#revcounter">forloop.revcounter</a></td>
          <td>The current iteration if you start at the end and count backwards, ending up at 1.</td>
        </tr>
        <tr>
          {# <td><a href="/testing/rev_counter0">forloop.revcounter0</a></td> #}
          <td><a href="/testing/for_loop_tested#revcounter0">forloop.revcounter0</a></td> 
          <td>The current iteration if you start at the end and count backwards, ending up at 0.</td>
        </tr>  
      </table>  


      <h3>Django Comment</h3>     

      <table border='3'>
        <tr>
          <th>Tag</th>
          <th>Description</th>
        </tr>
        <tr>
          <td><a href="/testing/comments_tested">Comments</a></td>
          <td><b>Comments</b> allow you to have sections of code that should be ignored.</td>
        </tr>
        <tr>
          <td><a href="/testing/comments_tested#comment_description">Comment Description</a></td>
          <td>You can add a message to your comment to help you remember why you wrote comment or as a message<br>
              to other people reading code.</td>
        </tr>
        <tr>
          <td><a href="/testing/comments_tested#comment_smaller">Smaller Comments</a></td>
          <td>You can also use { with # .. # inside these brackets } as tags, when commenting out code, as this can be<br> 
              easier for smaller comments.</td>
        </tr>
        <tr>
          <td><a href="/testing/comments_tested#comment_views">Comment in Views</a></td>
          <td>Views are written in Python and Python just like Django has comments written with a # character.</td>
        </tr>
      </table>

      <h3>Django Include</h3>     

      <table border='3'>
        <tr>
          <th>Tag</th>
          <th>Description</th>
        </tr>
        <tr>
          {# <td><a href="/testing/include">Include</a></td> #}
          {# Use this link below for what should be called include_tested page #}
          <td><a href="/testing/include_tested">Include</a></td>
          <td><b>Include</b> tag allows you to include a template inside current template.<br> 
              This is useful when you have a block of content that is the same for many pages.</td>
        </tr>
        <tr>
          {#<td><a href="/testing/include_variables">Variables in Include</a></td>#}
          {# <td><a href="/testing/include#include_variables">Variables in Include</a></td> #}
          {# Use this link below for what should be called include_tested page #}
          <td><a href="/testing/include_tested#include_variables">Variables in Include</a></td>
          
          <td>You can send variables into template by using <b>with</b> keyword. In include file, you refer to variables by using <br>
              { { variablename } } syntax.</td>
        </tr>
      </table>      

      <h2>Django QuerySets</h2>

      <h3>QuerySet Introduction</h3>

      <table border='3'>
         <tr>
            <th>Method</th>
            <th>Description</th>
         </tr>
         <tr>
            <td><a href="/testing/queryset_intro">Django QuerySet</a> </td>
            <td>A django queryset is a collection of data from a database. A QuerySet is built up as a list of objects.</td> 
         </tr>
         <tr>
            <td><a href="/testing/queryset_intro#query_data">Query Data</a></td>
            <td>To use a queryset, we have to query data. To do this we have to use a method to get data that we need from a
                <br> database.</td>
         </tr>
      </table>

      <h3>QuerySet Get</h3>

      <table border='3'>
         <tr>
            <th>Method</th>
            <th>Description</th>
         </tr>
         <tr>
            <td><a href="/testing/queryset_get">values() Method</a> </td>
            <td>A django queryset is a collection of data from a database. A QuerySet is built up as a list of objects.</td> 
         </tr>
         <tr>
            <td><a href="/testing/queryset_get#columns">Return Specific Columns</a></td>
            <td>To use a queryset, we have to query data. To do this we have to use a method to get data that we need from a
                <br> database.</td>
         </tr>
         <tr>
          <td><a href="/testing/queryset_get#rows">Return Specific Rows</a></td>
          <td>To use a queryset, we have to query data. To do this we have to use a method to get data that we need from a
              <br> database.</td>
       </tr>
      </table>
      
      <h3>QuerySet Filter</h3>

      <table border='3'>
        <tr>
          <th>Method</th>
          <th>Description</th>
        </tr> 
        <tr>
          <td><a href="/testing/queryset_filter">QuerySet Filter</a></td>
          <td>Learn how to use a filter() method with a queryset, so that you can get a row of data that you want.</td>
        </tr>
        <tr>
          <td><a href="/testing/queryset_filter#and">QuerySet Filter with AND</a></td>
          </td>Use filter() method with an and argument, so that you can filter more than one field.</td>
        </tr> 
        <tr>
          <td><a href="/testing/queryset_filter#or">QuerySet Filter with OR</a></td>
          <td>Learn how to use filter() method with a pipe | to display a record that matches a choice between more than<br> 
            one query.</td>
        </tr>
        <tr>
          <td><a href="/testing/queryset_filter#field_lookups">Field Lookups</a></td>
          <td>Learn Django way of using field lookups in replacement of SQL Statements.</td>
        </tr>
      </table>  

      <h3>QuerySet Order By</h3>

      <table border='3'>
        <tr>
          <th>Method</th>
          <th>Description</th>
        </tr>
        <tr>
          <td><a href="/testing/queryset_order_by">QuerySet Order By</a></td>
          <td>Find out how Django uses order_by() method for sorting out QuerySets.</td>
        </tr>
        <tr>
          <td><a href="/testing/queryset_order_by#descend">QuerySet Descending Order</a></td>
          <td>Find out how to change Django field default order for displaying data to a descending order.</td>
        </tr>
        <tr>
          <td><a href="/testing/queryset_order_by#multiple">QuerySet Multiple Order Bys</a></td>
          <td>Learn how Django handles multiple fields for setting an order in a way you would like.</td>
        </tr>

      </table>

  {% endblock %} 
  {% comment %}
  </body> closing body tag is now used in master.html template         
</html> closing html tag is now used in master.html template {% endcomment %}



{# This is an HTML Template for Testing purposes. #}
{# It is used for testing code and the result is shown on /testing/ url. #}
{# comment is where the code should be #}

{# Test Template within Django Add Test View (21 Django - Add Test View) of Django Display Data Section #}
{# This is testing code for first template example in my_tennis_club/members/templates/template.html#}


{% comment %}
<!DOCTYPE html>
<html>
<body> 

{% for x in fruits %}  
  <h1>{{ x }}</h1>
{% endfor %}
<p>In views.py you can see what the fruits variable looks like.</p>  

</body>
</html>
{% endcomment %}


{# This is code for first template example in my_tennis_club/members/templates/template.html#}
{# Test Template within Django Add Test View (21 Django - Add Test View) of Django Display Data Section #}
{% comment %}
<!DOCTYPE html>
<html>
<body> 
{% endcomment %}
{# {% for x in fruits %} #}
  {# <h1>{{ x }}</h1> #}
{# {% endfor %} #} {# End of For Loop #}

{# <p>In views.py you can see what fruits variable looks like.</p> #}
{% comment %}
</body>
</html>
{% endcomment %}

{# I think this is the same Test Template within Django Add Test View (21 Django - Add Test View #}
{# Test Template within Django Add Test View (21 Django - Add Test View) of Django Display Data Section #}
{# For Loops within Django for Tag or Django For Loop of Django Syntax Section (I think) #}
{# A for loop is used for iterating over a sequence, like looping over items in an array, a list or a dictionary.  #}
{# In this case we are looking over a dictionary (refer to Django For Loop Section under Django Syntax). #}

{# {% for x in fruits %} #}
{# <h1>{{ x }}</h1> #}
{# {% endfor %} #} {# End of For Loop #}
{# <p>In views.py you can see what fruits variable looks like.</p> #}




  
{# Template Variables within Django Template Variables (29 Django Syntax - Variables) of Django Syntax Section #}
{# Code for displaying Linus name, from Template Variables example, under Django Variables from Django Syntax Section. #}
{# <h1>Hello {{ firstname }} #} {# firstname is a Template Variable #} {#, how are you ?</h1> #}
{# <p>In views.py you can see how to create variable.</p> #}
{# <p>In template.html you can see how to use variable.</p> #}


{# Create Variables in Template within Django Template Variables (29 Django Syntax - Variables) of Django Syntax Section #}
{# Code for Creating Variables in Template within Django Variable of Django Syntax Section. #}
{# {% with firstname="Tobias" %} #}  {# with specifies a variable to use in its block #} 

{# <h1>Hello {{ firstname }}, how are you ?</h1> #}
{# {% endwith %} #}  {# endwith specifies end of its block #} 
{% comment %}
</body>
</html>
{% endcomment %}





{# Data From a Model within Django Template Variables (29 Django Variables) of Django Syntax Section #} 
{# <ul> #}
    {# {% for x in mymembers %}  #}
    {#}    <li>{{ x.firstname }}</li>  #}
    {#  {% endfor %}  #}
{# </ul>  #}

{# <p>In views.py you can see how to import and fetch members from database.</p>  #}


{# Code for Template Tags within Django Template Tags (30 Django Syntax - Tags) of Django Syntax Section. #}
{# {% if greeting == 1 %} #}
  {#<h1>Hello</h1> #}
{# {% else %} #}
  {# <h1>Bye</h1> #}
{# {% endif %} #}

{# <p>In views.py you can see what the greeting variable looks like.</p> #}




{# If Statement within Django if Tag (31 Django Syntax - If Else) of Django Syntax Section #}
{# {% if greeting == 1 %} #}
{#    <h1>Hello</h1> #}
{# {% endif %} #}
{# <p>In views.py you can see what the greeting variable looks like.</p>#}



{# Elif within Django if Tag (31 Django Syntax - If Else) of Django Syntax Section #}
{#  {% if greeting == 1 %}  #}
{#    <h1>Hello</h1> #}
{#  {% elif greeting == 2 %} #}
{#    <h1>Welcome</h1> #}
{#  {% endif %} #} 
{#  <p>In views.py you can see what the greeting variable looks like.</p> #}


{# Else within Django if Tag (31 Django Syntax - If Else) of Django Syntax Section #}
{#  {% if greeting == 1 %}  #}
{#    <h1>Hello</h1> #}
{#  {% elif greeting == 2 %} #}
{#    <h1>Welcome</h1> #}
{#  {% else %} #}
{#    <h1>Goodbye</h1> #}
{#  {% endif %} #}
{#  <p>In views.py you can see what the greeting variable looks like.</p> #}


{# Operators within Django if Tag (31 Django Syntax - If Else) of Django Syntax Section #}
{# Note == operator is dropped here with this example #}
{#  {% if greeting == 1 %}  #}
{#    <h1>Hello</h1> #}
{#  {% endif %} #}
{#  <p>In views.py you can see what the greeting variable looks like.</p> #}


{# == within Django if Tag (31 Django Syntax - If Else) of Django Syntax Section #}
{# {% if greeting == 2 %} #}
{#    <h1>Hello</h1> #}
{# {% endif %} #}
{#  <p>In views.py you can see what the greeting variable looks like.</p> #}


{# != within Django if Tag (31 Django Syntax - If Else) of Django Syntax Section #}
{# {% if greeting != 1 %} #}
{#    <h1>Hello</h1> #}
{# {% endif %} #}
{#  <p>In views.py you can see what the greeting variable looks like.</p> #}


{# < within Django if Tag (31 Django Syntax - If Else) of Django Syntax Section #}
{# {% if greeting < 3 %} #}
{#    <h1>Hello</h1> #}
{# {% endif %} #}   
{# <p>In views.py you can see what the greeting variable looks like.</p> #}


{# <= within Django if Tag (31 Django Syntax - If Else) of Django Syntax Section #}
{# {% if greeting <= 3 %} #}
{#    <h1>Hello</h1> #}
{# {% endif %} #}   
{# <p>In views.py you can see what the greeting variable looks like.</p> #}


{# > within Django if Tag (31 Django Syntax - If Else) of Django Syntax Section #}
{# {% if greeting > 1 %} #}
{#    <h1>Hello</h1> #}
{# {% endif %} #}   
{# <p>In views.py you can see what the greeting variable looks like.</p> #}


{# >= within Django if Tag (31 Django Syntax - If Else) of Django Syntax Section #}
{# {% if greeting > 1 %} #}
{#    <h1>Hello</h1> #}
{# {% endif %} #}   
{# <p>In views.py you can see what the greeting variable looks like.</p> #}


{# and within Django if Tag (31 Django Syntax - If Else) of Django Syntax Section #}
{# and operator checks if more than one condition is true #}
{# {% if greeting == 1 and day == "Friday" %} #}
{#    <h1>Hello</h1> #}
{# {% endif %} #}   
{# <p>In views.py you can see what the variables looks like.</p> #}


{# or within Django if Tag (31 Django Syntax - If Else) of Django Syntax Section #}
{# or operator checks if one of conditions is true. #}
{# greeting has a value of 1 in views, so Hello will be displayed. #}
{# {% if greeting == 1 or greeting == 5 %} #}
{#    <h1>Hello</h1> #}
{# {% endif %} #}   
{# <p>In views.py you can see what the variables looks like.</p> #}


{# and/or within Django if Tag (31 Django Syntax - If Else) of Django Syntax Section #}
{# and/or operator has and condition, which allows for specific values of 2 variables,  #}
{# the or part also allows for another specific value of one of the first 2 variables. #}
{# Parentheses are not allowed in if statements in Django, so when you combine and and or operators, #}
{# it is important to know that with code below, the interpreter reads it with parentheses #}
{# being added for and but not for or. #} 
{# It is read by interpreter like this {% if (greeting == 1 and day == "Friday") or greeting == 5 %} #}
{# It is written in Django like this though #}
{# {% if greeting == 1 and day == "Friday" or greeting == 5 %} #}
{#    <h1>Hello Weekend!</h1> #}
{# {% endif %} #}
{# <p>In views.py you can see what the variables look like.</p> #}


{# in within Django if Tag (31 Django Syntax - If Else) of Django Syntax Section #}
{# in operator checks if a certain item is present in an object. #}
{# {% if 'Banana' in fruits %} #}
{#   <h1>Hello</h1> #}
{# {% else %} #}
{#   <h1>Goodbye</h1> #}
{# {% endif %} #}
{# <p>In views.py you can see what fruits variable looks like.</p> #}


{# not in within Django if Tag (31 Django Syntax - If Else) of Django Syntax Section #}
{# not in operator checks if a certain item is not present in an object. #}
{# {% if 'Banana' in fruits %} #}
{#   <h1>Hello</h1> #}
{# {% else %} #}
{#   <h1>Goodbye</h1> #}
{# {% endif %} #}
{# <p>In views.py you can see what fruits variable looks like.</p> #}


{# is within Django if Tag (31 Django Syntax - If Else) of Django Syntax Section #}
{# is operator checks if identify of 2 objects (x and y variables below) are the same or not, #} 
{# but not values like == does . #}
{# {% if x is y %} #}
{#   <h1>YES</h1> #}
{# {% else %} #}
{#   <h1><NO/h1> #}
{# {% endif %} #}  
{# <p>In views.py you can see what x and y variables look like.</p> #}


{# == within Django if Tag (31 Django Syntax - If Else) of Django Syntax Section #}
{# == operator checks if values of 2 objects (x and y variables below) are the same or not.  #}
{# {% if x == y %} #}
{#   <h1>YES</h1> #}
{# {% else %} #}
{#   <h1><NO/h1> #}
{# {% endif %} #}  
{# <p>In views.py you can see what x and y variables look like.</p> #}


{# with and is within Django if Tag (31 Django Syntax - If Else) of Django Syntax Section #}
{# with and is, determines if 2 objects are pointing to same object (variable) or not. #}
{# {% with var1=x var2=x %} #}
{#   {% if var1 is var2 %} #}
{#     <h1>YES</h1> #}
{#   {% else %} #}
{#     <h1><NO/h1> #}
{#   {% endif %} #}
{# {% endwith %} #}  
{# <p>The x variable is created in views.py, and both var and var2 points to x.</p> #}


{# is not within Django if Tag (31 Django Syntax - If Else) of Django Syntax Section #}
{# is not checks if 2 objects are not the same. Meaning they do not have same identity eg x is not y. #}
{# {% if x is not y %} #}
{#   <h1>YES</h1> #}
{# {% else %} #}
{#   <h1><NO/h1> #}
{# {% endif %} #} 
{# <p>In views.py, you can see what the x and y variables look like.</p> #}


{# For Loops List items within Django for Tag (32 Django Syntax - For Loop) of Django Syntax Section #}
{# A for loop is used for iterating over a sequence, like looping over items in an array, a list or a dictionary.  #} 
{# In this case we are using headings as a list of fruits. #}
{# x is fruit item in list taken from fruits array and fruits is an object in views  #}
{# {% for x in fruits %} #}
{#   <h1>{{ x }}</h1> #}
{# {% endfor %} #} {# End of For Loop #}
{# <p>In views.py you can see what fruits variable looks like.</p> #}


{# For Loops List dictionaries within Django for Tag (32 Django Syntax - For Loop) of Django Syntax Section #}
{# A for loop is used for iterating over a sequence, like looping over items in an array, a list or a dictionary.  #} 
{# Here we are using a for loop with a group of dictionaries in a list. #}
{# cars is an object and x is a variable used to access property values within a dictionary eg x.brand . #}
{# {% for x in cars %} #}
{#   <h1>{{ x.brand }}</h1> #}
{#   <p>{{ x.model }}</p> #}
{#   <p>{{ x.year }}</p> #}
{# {% endfor %} #} {# End of For Loop #}
{# <p>In views.py you can see what cars variable looks like.</p> #}



{# Data from a Model within Django for Tag (32 Django Syntax - For Loop) of Django Syntax Section #}
{# Loop through items fetched from a database #}
{# {% for x in members %} #}
{# We are displaying each id in numerical order as a heading, #} 
{# along with first and last name down the page. #}
{#   <h1>{{ x.id }}</h1> #}
{#    <p> #}
{#     {{ x.firstname }} #}
{#     {{ x.lastname }} #}
{#    <p> #}
{# {% endfor %} #} {# End of For Loop #}
{# <p>In views.py you can see how to import and fetch members from the database.</p> #}



{# Reversed within Django for Tag (32 Django Syntax - For Loop) of Django Syntax Section #}
{# Reversed keyword is used when you want to do a loop in reversed order. #}
{# {% for x in members reversed %} #}
{# We are displaying each id in numerical order as a heading, #} 
{# along with first and last name down the page. #}
{#   <h1>{{ x.id }}</h1> #}
{#    <p> #}
{#     {{ x.firstname }} #}
{#     {{ x.lastname }} #}
{#    <p> #}
{# {% endfor %} #} {# End of For Loop #}
{# <p>In views.py you can see how to import and fetch members from database.</p> #}



{# Empty within Django for Tag (32 Django Syntax - For Loop) of Django Syntax Section #}
{# The empty keyword can be used if you want to do something special if object is empty #}
{# In this case we are displaying No members within a list, as object is empty #}
{# <ul> #}
{#   {% for x in emptytestobject %} #}
{#     Note: firstname variable does not get displayed because it does not exist in object#}
{#     <li>{{ x.firstname }}</li> #}
{#   {% empty %} #}
{#     <li>No members>/li> #}
{#   {% endfor %} #} {# End of For Loop #}
{# </ul> #}  
{# <p>In views.py you can see the emptytestobject.</p> #}


{# Empty used if object does not exist, #} 
{# within Django for Tag (32 Django Syntax - For Loop) of Django Syntax Section #}
{# empty keyword can also be used if object does not exist #}
{# <ul> #}
{#   Note: myobject object does not exist in views.py#}  
{#   {% for x in myobject %} #}
{#     Note: firstname variable does not get displayed because it does not exist in views.py fruits object #}
{#     <li>{{ x.firstname }}</li> #}
{#   {% empty %} #}
{#     Note: No members gets diplayed in a list because myobject does not exist, so it is thought of as empty #}
{#     <li>No members>/li> #}
{#   {% endfor %} #} {# End of For Loop #}
{# </ul> #}  
{# <p>In views.py you can see that there is no myobject variable.</p> #}



{# Django has some variables that are available for you inside a loop: #}
{# We cover these forloop variables below. #}

{# forloop.counter within Django for Tag (32 Django Syntax - For Loop) of Django Syntax Section #}
{# For default loop counter, current iteration starts at 1 #}
{# Here we are using a counter loop in a list for displaying index values in an array, starting at 1. #}
{# It also displays it in number order from 1 up to top to 5 down bottom of list. #}
{# <ul> #}
{#   {% for x in fruits %} #}  
{#     <li>{{ forloop.counter }}</li> #}
{#   {% endfor %} #} {# End of For Loop #}
{# </ul> #}
{# <p>In views.py you can see what the fruits object looks like.</p> #}



{# forloop.counter0 within Django for Tag (32 Django Syntax - For Loop) of Django Syntax Section #}
{# For loop counter0, current iteration starts at 0 #}
{# Here we are using a counter loop in a list for displaying index values in an array, starting at 0. #}
{# It also displays it in number order from 0 up to top to 4 down bottom of list. #}
{# <ul> #}
{#   {% for x in fruits %} #}  
{#     <li>{{ forloop.counter0 }}</li> #}
{#   {% endfor %} #} {# End of For Loop #}
{# </ul> #}
{# <p>In views.py you can see what the fruits object looks like.</p> #}



{# forloop.first within Django for Tag (32 Django Syntax - For Loop) of Django Syntax Section #}
{# Using forloop.first allows you to test if loop is on its first iteration #}
{# <ul> #}
{#   {% for x in fruits %} #}  
{#     <li #}
       {# Here we are using an inline CSS Style on web page to Highlight first iteration of loop #}
       {# First array index 1 named Apple should have a light blue background colour. #}
{#       {% if forloop.first %} #}
{#         style='background-color:lightblue;' #}
{#       {% endif %} #}
{#     >{{ x }}/li> #}
{#   {% endfor %} #}
{# </ul> #}
{# <p>In views.py you can see what the fruits object looks like.</p>#}



{# forloop.last within Django for Tag (32 Django Syntax - For Loop) of Django Syntax Section #}
{# Using forloop.last allows you to test if loop is on its last iteration #}
{# <ul> #}
{#   {% for x in fruits %} #}  
{#     <li #}
       {# Here we are using an inline CSS Style on web page to Highlight first iteration of loop #}
       {# Last array index 5 named Kiwi should have a light blue background colour. #}
{#       {% if forloop.last %} #}
{#         style='background-color:lightblue;' #}
{#       {% endif %} #}
{#     >{{ x }}/li> #}
{#   {% endfor %} #}
{# </ul> #}
{# <p>In views.py you can see what the fruits object looks like.</p>#}



{# forloop.revcounter within Django for Tag (32 Django Syntax - For Loop) of Django Syntax Section #}
{# For revcounter, current iteration if you start at the end and count backwards, ends up at 1. #}
{# Here we are using a reverse counter loop in a list for displaying index values in an array, starting at 1. #}
{# It displays it in reverse number order from 5 up to top to 1 down bottom of list on page. #}
{# <ul> #}
{#   {% for x in fruits %} #}  
{#     <li>{{ forloop.revcounter }}</li> #}
{#   {% endfor %} #} {# End of For Loop #}
{# </ul> #}
{# <p>In views.py you can see what the fruits object looks like.</p> #}



{# forloop.revcounter0 within Django for Tag (32 Django Syntax - For Loop) of Django Syntax Section #}
{# For revcounter0, current iteration if you start at the end and count backwards, ends up at 0. #}
{# Here we are using a reverse counter0 loop in a list for displaying index values in an array, starting at 0. #}
{# It displays it in reverse number order from 4 up to top to 0 down bottom of list on page. #}
{# <ul> #}
{#   {% for x in fruits %} #}  
{#     <li>{{ forloop.revcounter0 }}</li> #}
{#   {% endfor %} #} {# End of For Loop #}
{# </ul> #}
{# <p>In views.py you can see what the fruits object looks like.</p> #}




{# Comments within Django Comment Tag of Django Comment(33 Django Syntax - Comment) in Django Syntax Section #}
{# This is normal html code #}
{# <!DOCTYPE html> #}
{# <html> #}
{# <body> #}

{# <h1>Welcome Everyone</h1> #}
{# Bottom of first section of normal html code #}
{# Here we are commenting html h1 heading code. Allowing a section of code to be ignored #}
{% comment %}
  <h1>Welcome ladies and gentlemen</h1>
{% endcomment %}

{# back to normal html code for last part #}
{# </body> #}
{# </html> #}



{# Comment Description within Django Comment Tag of Django Comment(33 Django Syntax - Comment) in Django Syntax Section #}
{# This is normal html code #}
{# <!DOCTYPE html> #}
{# <html> #}
{# <body> #}

{# <h1>Welcome Everyone</h1> #}
{# Bottom of first section of normal html code #}
{# Here we are adding a message to your comment, to help you remember why you wrote the comment, #}
{# or as a message to other people reading the code. #}
{% comment "this was the original welcome message" %}
    <h1>Welcome ladies and gentlemen</h1>
{% endcomment %}

{# back to normal html code for last part #}
{# </body> #}
{# </html> #}



{# Smaller Comments within Django Comment Tag of Django Comment(33 Django Syntax - Comment) in Django Syntax Section #}
{# This is normal html code #}
{# <!DOCTYPE html> #}
{# <html> #}
{# <body> #}
{# Bottom of first section of normal html code #}

{% comment %}
You can also use Curly Braces with Hash tags inside it for commenting out code,
which can be easier for smaller comments 
{% endcomment %}


{# In this h1 heading code below, Everyone has been commented, so it does not show on localhost webpage #}
{# and only Welcome gets shown on localhost web page. #}    
{# <h1>Welcome Everyone</h1> #}

{# back to normal html code for last part #}
{# </body> #}
{# </html> #}    



{# Include within Django include Tag (34 Django Include) of Django Syntax Section #}
{% comment %}
<!DOCTYPE html>
<html>
<body>

<h1>Hello</h1>

<p>This page contains a footer in a template.</p>

{% include 'footer.html' %}
{# Include tag, as its name suggests include a template inside this current template.html template. #} 
{# footer.html template has all footer details inside that file to display on web page.#}

<p>Check out the two templates to see what they look like, and views.py to see the reference to the child template.</p>

</body>
</html> 
{% endcomment %}







{# Put this include in it's own page, so have a testing/include_testing routes #}
{# to seperate it from include in Django Reference Template section #}
{# Variables in Include within Django include Tag (34 Django Include) of Django Syntax Section #}
{# comment code for now #}

{#<!DOCTYPE html>#}
{#<html>#}
{#<body>#}

{# {% include "mymenu.html" with me="TOBIAS" sponsor="W3SCHOOLS" %} #}

{# Include tag, as its name suggests includes a template inside current template. #}
{# Include allows breakdown of a complex template into smaller more manageable chunks. #}
{# With tag is advanced part here that has ability to pass variables to included mymenu.html template. #}  
{# With tag has me and sponsor variables that have been given a name in this template.html #} 
{# see codinggear.blog/django-include-tag/ found from django include google search #}  

{#<h1>Welcome</h1> may not need this#}
 

{#<p>This is my web site.</p>#}

{#<p>Check out mymenu.html to see the HTML content of the include.</p>#}

{#</body>#}
{#</html>#} 