
{# Customize the 404 Template within Django 404 (page not found) (20 Django 404 Template) #}
{# of Django Display Section #}
{# When a web address is not correct, this 404 Page Template shows #}
{# a page title at the top and h1 and h2 headings on the web page. #}

{# comment is where the code should be #}
{# This html file displays custom 404 error on web page. #}
<!DOCTYPE html>
<html>
    <title>Wrong address</title>
    <body>

        <h1>Oops!</h1>

        <h2>I cannot find the file you requested!</h2>

    </body>
</html> 

