
{# Here we are practising using Django Field Lookups #}

<!DOCTYPE html>
<html>
<body>

<h2>Django Field Lookups Reference</h2>
 
{#<p><br><b>Contains</b> Field Lookup</p>#}
<h3>Contains Field Lookup</h3>

<p>The queryset object:</p>

 {{ mymembers }}
 
 <p>Loop through the items:</p>

 <table border='1'>
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
    </tr>
    {% for x in mymembers %}
        <tr>
            <td>{{ x.id }}</td>
            <td>{{ x.firstname }}</td>
            <td>{{ x.lastname }}</td>
        </tr>    
    {% endfor %}
    
 </table>

{% comment %}
 <p><br><b>Endswith</b> Field Lookup</p>

 <p>The queryset object:</p>

 {{ mymembers }}
 
 <p>Loop through the items:</p>
 
 <table border='1'>
   <tr>
     <th>ID</th>
     <th>Firstname</th>
     <th>Lastname</th>
   </tr>
   {% for x in mymembers %}
     <tr>
       <td>{{ x.id }}</td>
       <td>{{ x.firstname }}</td>
       <td>{{ x.lastname }}</td>
     </tr>
   {% endfor %}
 </table>

{% endcomment %}

</body>
</html>


{% comment %}
I could have this as a Parent Template for all these Field Lookup tags
Doing it this way I could have a Django Field Lookups Reference heading at top of Page

I could have a List of all Field Lookups Tags as Links down the page 


{% endcomment %}