
{# Here we are practising using Django Filters #}
<!DOCTYPE html>
<html>
<body>

<h1>Django Filter Reference</h1>
 
{#<p><br><b>Add</b> Filter</p>#}
{# Maybe I should use h3 instead with p above #}
<h2>Add Filter</h2>

{% for x in prices %}
  <h1>The price is {{ x|add:"10" }} dollars.</h1>
{% endfor %}
  
<p>In views.py you can see what the prices variable looks like.</p>


</body>
</html>  



{% comment %}
I could have this as a Parent Template for all these Filter tags
Doing it this way I could have a Django Filter Reference heading at top of Page

I could have a List of all Filter Tags as Links down the page 


{% endcomment %}