
{# Main of Main Index Page within Django Add Main Index Page (19 Django - Add Main Index Page) #}

{# Now we use master template that has all necessary HTML elements common in layout for web pages #}

{% extends "master.html" %} 

{# <!DOCTYPE html> #}
{# <html> #}
        {# !DOCTYPE html and html tags now used in master.html Template #}

    {# <head> head tag is now used in master.html template #}    
    {# <title> "title tag is now used in master.html template" #}


        {# This child Title Block Tag is a placeholder, that tells Django to replace the master html parent #} 
        {# Title block with contents in it below. It also inherit the parent title tag with this child block #} 

        {% block title %}    {# Using title block tag from master.html #}
            {# putting title to show on top of web page in main.html  #}
            My Tennis Club 
        {% endblock %}
       

    {# </title> " closing title tag is now used in master.html template" #}
    {# </head> closing head tag is now used in master.html template #}    

    {# <body> body tag is now used in master.html template #}

    {# This child Content Block Tag is a placeholder, that tells Django to replace the master html parent #} 
    {# Content Block with contents in it below. It also inherit the parent body tag with this child block #} 
    {% block content %}   {# Using a child content block tag from master.html for body content of web page. #}

      {# Add a div with a class so that we can style elements in block content tag #}
      <div class="main">

        {# Now we can have html and django content for main body part of web page, within content block #}
        <h1>My Tennis Club</h1>

        <h3>Members</h3>
  
        <p>Check out all our <a href="members/">members</a></p>

        {# We want to add in here description with Link to Hello and first Pages  #}
        <br>
        <h3>Initial Django Setup</h3>

        <p>Originally when this Django App was setup, a members view was created for displaying 
           a hello world page and also <br> a template was used with a members view for displaying a page with
           Hello World Heading and first Django Project Welcome Message. <br>
        </p>   
        <p>This was all displayed on members/ route, but because members/ route is now used for getting details 
           of people from a database, <br> it is better to have separate routes to keep these initial 
           Django setup pages.
        </p>
        <p>I have given a link here, to access <a href="hello/">Hello World Page</a></p>
         
        <p>and a link here, to access <a href="first_django_page/">First Django Project Page</a></p> 

        <p>You can find out how I have my <a href="django_setup/">Django set up</a> in more detail through this link.

        <h3>Django Code Examples</h3>

        <p>Check out my Django Examples <a href="testing/">Tested</a></p>

        <h3>Django Admin</h3>

        <p>Administration side of Django is covered in detail here <a href="django_admin/">Django Admin</a></p>

        <h3>Django Static</h3>

        <p>Django static files and a folder are covered in detail here <a href="django_static/">Django Static</a></p>

        <h3>PostgreSQL</h3>

        <p>A database engine used to replace SQlite at production time is covered in detail here 
           <a href="django_postgreSQL/">PostgreSQL</a></p>

        <h3>Django Deployment</h3>   

        <p>Put a Django web project online through <a href="django_deploy/">Django Deployment</a></p>

        <h3>Django with bootstrap and Slugs</h3>

        <p>We shown how Django can use Bootstrap and slugs with <a href="django_more">More Django</a></p>

        <h3>Django References</h3>

        <p><a href="template/">Template Tag Reference</a> </p>

        <p><a href="filter/">Filter Reference</a> </p>
          
        <p><a href="field/">Field Lookups Reference</a></p>   
        
      </div>

    {% endblock %}
    

    {# </body> closing body tag is now used in master.html template #}        
{# </html> closing html tag is now used in master.html template #}    




{# Break down of above code into Separate Django Learning parts of their section #}

{# Main of Main Index Page within Django Add Main Index Page (19 Django - Add Main Index Page) #}
{# of Django Display Data Section #}
{# my_tennis_club/members/templates/main.html #}
{% comment %}
{% extends "master.html" %}

{% block title %}
  My Tennis Club
{% endblock %}


{% block content %}
  <h1>My Tennis Club</h1>

  <h3>Members</h3>
  
  <p>Check out all our <a href="members/">members</a></p>
  
{% endblock %}
{% endcomment %}
