{# comment is where the code should be #}

{# Templates within (10 Django Templates) of Django Tutorial Section #}
{# An initial Basic HTML Template File (first one), that shows a heading and paragraph on localhost members page. #}

{# Comment code below after getting this initial page displayed for first Django Project #} 
<!DOCTYPE html>
<html>
    <body>
        <h1>Hello World!</h1>
        <p>Welcome to my first Django project!</p>
    </body>
</html>


{# Note: This myfirst.html template was created to replace initial Hello World! shown on localhost. #}
{# Hello World! shown in 8 Django Views and 9 Django URLs parts did not have an html template #}
{# and in views.py it used return HttpResponse("Hello world!"), instead of #}
{# template = loader.get_template('myfirst.html') #}
{# return HttpResponse(template.render())         #}
{# , now used with this myfirst.html template. #}    