
{# Here we are practising using Django Template Tags and need to refer to master file #}

{#  {% extends "django_refs_master.html" %}  #}

{# {% block title %} #}
{#  Django Template Tags Reference #}
{#  <hr> #}
{# {% endblock %} #}

{# {% block content %} #}
{#    <h2>Template Tags Reference</h2>#}
{#    <p>A List of all template tags:</p> #}


{# {% endblock %} #}

{# I need separate pages for these Template Tags examples #}

<!DOCTYPE html>
<html>
<body>

<h2>Django Template Tag Reference</h2>

<h3>autoescape Template Tag</h3>

<h4>Autoescape Off</h4>

{% autoescape off %}
  <h1>{{ heading }}</h1>
{% endautoescape %}

<p>Check out views.py to see what the heading variable looks like.</p>


{% comment %}
<h4>Autoescape Off</h4>

{% autoescape on %}
  <h1>{{ heading }}</h1>
{% endautoescape %}

<p>Check out views.py to see what the heading variable looks like.</p>
{% endcomment %}

</body>
</html>   

{% comment %}
I could have this as a Parent Template for all these Template tags
Doing it this way I could have a Django Template Tags Reference heading at top of Page

I could have a List of all Template Tags as Links down the page 


{% endcomment %}