
<!DOCTYPE html>
<html>
        <head>
            <title>Django Setup</title> 
        </head>  

    <body> 

    <h1><center>Robert's Django Setup</center></h1> 
    
    <a href="/">Back</a>

    <h2>Django Introduction</h2>

    <table border='3'>
        <tr>
           <th>Topic</th>
           <th>Description</th>
        </tr>
        <tr>
            {# <td><a href="/testing/django_intro">What is Django ?</a> </td> #}
            {# Should use django_setup link instead below #}
            <td><a href="/django_setup/intro">What is Django ?</a> </td>
            <td>Django is a mainly a back-end  server side web development framework that is written in Python.</td> 
        </tr>
        <tr>
            <td><a href="/django_setup/intro#history">Django History</a> </td>
            <td>Django was originally invented in 2003 to meet short deadlines in newspapers.</td> 
         </tr>
        <tr>
           <td><a href="/django_setup/intro#how_it_works">How does Django Work ?</a></td>
           <td>Django follows a model, view and template design pattern and we go into more detail in the link on this.</td>
        </tr>
        <tr>
            <td><a href="/django_setup/intro#django_model">Django Model</a></td>
            <td>Django model provides data from a database and we go into more detail in the link on this.</td>
         </tr>
        <tr>
            <td><a href="/django_setup/intro#django_view">Django View</a></td>
            <td>Django view handles http, a model and template and we give a brief introduction to it on this link.</td>
        </tr>
        <tr>
            <td><a href="/django_setup/intro#django_template">Django Template</a></td>
            <td>Django template is a file that describes how a web page should be displayed. We go into more detail in the link on this.</td>
        </tr>
        <tr>
            <td><a href="/django_setup/intro#django_url">Django URL</a></td>
            <td>Django URL provides navigation for web pages within a website. We go into more detail in the link on this.</td>
        </tr>
        <tr>
            <td><a href="/django_setup/intro#happening">What is happening ?</a></td>    
            <td>The answer to this can be discussed in more detail when you click on the link.</td>
        </tr>
        <tr>
            <td><a href="/django_setup/intro#learning_schedule">Learn by Doing</a></td>
            <td>On my website I will take you through the process of how Django can be learnt. Click on link to find out how.</td>
        </tr>
    </table>

    <h2>Django Getting Started</h2>

    <table border='3'>
        <tr>
           <th>Topic</th>
           <th>Description</th>
        </tr>
        <tr>
            <td><a href="/django_setup/get_started">Django Requires Python</a> </td>
            <td>Django can be used if you have python installed.</td> 
        </tr>
        <tr>
            <td><a href="/django_setup/get_started#pip">PIP</a> </td>
            <td>Django needs a package manager for it to be used. PIP is an example of one of package manager that can be used.</td> 
         </tr>
        <tr>
           <td><a href="/django_setup/get_started#ve">Virtual Environment</a></td>   
           <td>Django works best when it uses a Virtual Environment to avoids conflict with code when working on different projects.</td>
        </tr>
    </table>

    <h2>Create Virtual Environment</h2>

    <table border='3'>
        <tr>
           <th>Topic</th>
           <th>Description</th>
        </tr>
        <tr>
            {# <td><a href="/testing/virtual_environment">Set Up Virtual Environment</a> </td> #}
            {# Should use django_setup link instead below #}
            <td><a href="/django_setup/virtual_environment">Set Up Virtual Environment</a> </td>
            <td>I will show you how to setup a virtual environment for Windows, Mac and Unix operating systems and make it run.</td> 
        </tr>
    </table>     

    <h2>Install Django</h2>

    <table border='3'>
        <tr>
            <th>Topic</th>
            <th>Description</th>
        </tr>
        <tr>
            {# <td><a href="/testing/install_django">Install Django</a> </td> #}
            {# Should use django_setup link instead below #}
            <td><a href="/django_setup/install">Install Django</a> </td>
            <td>Now that a virtual environment has been created, we are ready to install Django.</td> 
        </tr>
        <tr>
            <td><a href="/django_setup/install#version">Django Version</a> </td>
            <td>Check version number to see if Django has been installed.</td> 
        </tr>      
        <tr> 
            <td><a href="/django_setup/install#platform">Django Platforms</a> </td>     
            <td>The way that different operating systems interpret commands in Django. For example on Mac we use python and py is used on <br>
                Windows.
            </td> 
        </tr>  
    </table> 
 
    <h2>Create Django Project</h2>

    <table border='3'>
        <tr>
            <th>Topic</th>
            <th>Description</th>
        </tr>
        <tr>
            {# <td><a href="/testing/django_project">First Django Project</a> </td> #}
            {# Should use django_setup link instead below #}
            <td><a href="/django_setup/project">First Django Project</a> </td>
            <td>Django Project is a top level container for building a website and it controls all configuration settings of your website build.</td>
        </tr>
        <tr>
            <td><a href="/django_setup/project#run_it">Run Django Project</a> </td> 
            <td>A django Project can be run with a server and you can see what your web build looks like in a browser.</td>
        </tr>
    </table>

    <h2>Create Django App</h2>

    <table border='3'>
        <tr>
            <th>Topic</th>
            <th>Description</th>
        </tr>
        <tr>
            {# <td><a href="/testing/django_app">What is an App ?</a></td> #}
            {# Should use django_setup link instead below #}
            <td><a href="/django_setup/app">What is an App ?</a></td>
            <td>An App is a special part of your project, like a home page, contact form or a database. A project can be split up into these parts<br>
                as apps and quite often web pages can be produced from data that has been received from a database.</td>
        </tr>
        <tr>
            <td><a href="/django_setup/app#create_app">Create App</a></td>   
            <td>An App is created in your project folder and you have to a use a special django command to make it.<br>
                Click on Create App link to see in more detail how this is done.</td>
        </tr>
    </table>


    <h2>Django Views</h2>

    <table border='3'>
        <tr>
            <th>Topic</th>
            <th>Description</th>
        </tr>
        <tr>
            {# <td><a href="/testing/django_views">Django Views</a></td> #}
            {# Should use django_setup link instead below #}
            <td><a href="/django_setup/views">Django Views</a></td>
            <td>Django view handles a model, template and http and sends a response back to a browser. 
                Django Views link goes into more detail<br> on this.</td>
                {# We go into more detail in the link on this.</td> #}
        </tr>
    </table>

    <h2>Django URL</h2>

    <table border='3'>
        <tr>
            <th>Topic</th>
            <th>Description</th>
        </tr>
        <tr>
            {# <td><a href="/testing/django_url">Django URL</a></td> #}
            {# Should use django_setup link instead below #}
            <td><a href="/django_setup/url">Django URL</a></td>
            <td>Django URL is used with routing to help create a navigable path for a website address. 
                Django Views link goes into more detail on<br> this.</td>
        </tr>
    </table>

    <h2>Django Templates</h2>

    <table border='3'>
        <tr>
            <th>Topic</th>
            <th>Description</th>
        </tr>
        <tr>
            {# <td><a href="/testing/templates">Django Templates</a></td> #}
            {# Should use django_setup link instead below #}
            <td><a href="/django_setup/template">Django Template</a></td>
            <td>Django Template is usually an HTML file that contains layout of a web page with code to display data. It is classified as 
                <br>a text file.</td>
        </tr>
        <tr>
            <td><a href="/django_setup/templates#modify_view">Change a Django View</a></td>
            <td>You can make a change to a Django View, for example changing template that it uses.</td>
        </tr>
        <tr>
            <td><a href="/django_setup/templates#modify_settings">Change Django Settings</td>
            <td>Django Settings can be changed to allow it to be able to do more things, for example using a newly created app.</td>
        </tr>
    </table>

    <h2>Django Models</h2>

    <table border='3'>
        <tr>
            <th>Topic</th>
            <th>Description</th>
        </tr>
        <tr>
            {# <td><a href="/testing/django_model">Django Model</td> #}
            {# Should use django_setup link instead below #}
            <td><a href="/django_setup/model">Django Model</td>
            <td>A Django Model allows us to use data from a database. To find out more click on Django Model link.</td>
        </tr>
        <tr>
            <td><a href="/django_setup/model#create_model">Create Django Model</td> 
            <td>To create a Django Model we need to add a table to a models.py file already created during Django Install.</td>
        </tr>    
        <tr>
            <td><a href="/django_setup/model#sqlite">SQLite Database</td>
            <td>An empty SQLite Database is created when a django project is created and to find out more click on SQlite Database link.</td>
        </tr>
        <tr>
            <td><a href="/django_setup/model#migrate">Migrate</a></td>
            <td>Migrate, or as they call it doing a migration, is a command that is run to create a table in a database.</td>
        </tr>
        <tr>
            <td><a href="/django_setup/model#sql">View SQL</a></td>
            <td>An SQL statement that was executed (run) from a migration can be found from this View SQL link.</td>
        </tr>
    </table>

    <h2>Django Insert Data</h2>

    <table border='3'>
        <tr>
            <th>Topic</th>
            <th>Description</th>
        </tr>
        <tr>
            {# <td><a href="/testing/django_insert_data">Add Records</a></td> #}
            {# Should use django_setup link instead below #}
            <td><a href="/django_setup/insert_data">Add Records</a></td>
            <td>Add a Record to an empty model by using a python shell. Find out more through Add Records link.</td>    
        </tr>
        <tr>
            <td><a href="/testing/django_insert_data#multiple">Add Multiple Records</a></td>

            <td>Add Multiple Records to a model by using a python shell and making a list. Find out more through Add 
                Multiple Records<br> link.</td>    
        </tr>    
    </table>    

    <h2>Django Update Data</h2>

    <table border='3'>
        <tr>
            <th>Topic</th>
            <th>Description</th>
        </tr>
        <tr>
            {# <td><a href="/testing/django_update_data">Update Records</a></td> #}
            {# Should use django_setup link instead below #}
            <td><a href="/django_setup/update_data">Update Records</a></td>
            <td>Update a Record in a model from a database by retrieving, making changes and checking update. Find out more through Update 
                <br>Records link.</td>    
        </tr>
    </table>

    <h2>Django Delete Data</h2>

    <table border='3'>
        <tr>
            <th>Topic</th>
            <th>Description</th>
        </tr>
        <tr>
            {# <td><a href="/testing/django_delete_data">Delete Records</a></td> #}
            {# Should use django_setup link instead below #}
            <td><a href="/django_setup/delete_data">Delete Records</a></td>
            <td>Delete a Record in a model from a database by retrieving, checking a record and deleting it. 
                Find out more through Delete &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <br>Records link.</td>    
        </tr>
    </table>

    <h2>Django Update Model</h2>

    <table border='3'>
        <tr>
            <th>Topic</th>
            <th>Description</th>
        </tr>
        <tr>
            {# <td><a href="/testing/django_update_model">Add Model Fields</a></td> #}
            {# Should use django_setup link instead below #}
            <td><a href="/django_setup/update_model">Add Model Fields</a></td>
            <td>Add a field in a model and make a migration to ceate a new field. Find out more through Add Model Fields link.</td>    
        </tr>
        <tr>
            <td><a href="/django_setup/update_model#insert">Insert Data</a></td>
            <td>Insert data into a new field by using a python shell to enter data needed and chceecking. Find out more through Insert Data link</td>    
        </tr>
    </table>

    </body>
<html>