
{# Handles images and videos from static folder #}
{# {% load static %} #}

<!DOCTYPE html>

<html>
    <head><title>Django Templates</title>
    </head> 

    <body>

        <h1><center>Django Template</center></h1>

        <h3>Django Template</h3>

        <p>In <a href="/django_setup/intro#django_template">Django Intro</a> page, we learned that a result should be in HTML
           and it should be created in a template, so let's do that.<br><br>
           Create a <code>templates</code> folder inside <code>members</code> folder:<br>
           located at <code>my_tennis_club/members/templates</code>
        </p>

        {# <img src="{% static 'django_setup/images/Create New Templates Folder.png' %}"> #}
        {# <img src="{% static 'django_setup/images/Create my First HTML File.png' %}"> #}

        <p>Now that we have created a <code>templates folder</code>, we can create an HTML Template file named 
           <code>myfirst.html</code> :<br>
           located at <code>my_tennis_club/members/templates/myfirst.html</code>
        </p>

        {# <img src="{% static 'django_setup/images/New myfirst HTML File.png' %}"> #}

        <p>I have explained in more detail below what is going on with this <code>myfirst.html</code> file.</p>

        {# <img src="{% static 'django_setup/images/myfirst Template Explained.png' %}"> #}

        <b>Note:</b> You can use <code>myfirst.html</code> template to replace your original hello world message on 
           <code>127.0.0.1:8000/members/</code> page<br> or create a new page with this template.<br>
           We need to either change members view or make a new view to take <code>myfirst.html</code> template.
        </p>

        <hr>

        <h3 id="modify_view">Change or Make a New Django View</h3>

        <p>Open <code>views.py</code> file and replace <code>members</code> view with this :<br><br>
           <code>my_tennis_club/members/views.py</code>
        </p>

        {# <img src="{% static 'django_setup/images/Modified View with Template.png' %}"> #}

        <p>Now, if we decided not to use members view before and want to keep original hello world page, then we should 
            create a new view<br> with a name of your choice.<br> 
           As an example I have used first_django_page as my choice for a view shown below:   
        </p>

        {# <img src="{% static 'django_setup/images/Initial Django Views File.png' %}"> #}        

        <hr>

        <h3 id="modify_settings">Change Django Settings</h3>

        <p>To be able to work with more complicated stuff than "Hello World"!, we have to tell Django that a new app is 
           created.<br><br>
           This is done in <code>settings.py</code> file in <code>my_tennis_club/my_tennis_club</code> folder.<br><br>
           In <code>INSTALLED_APPS[]</code> add <code>members</code> app like this, shown below on line 40:<br><br>
           <code>my_tennis_club/my_tennis_club/settings.py</code>
        </p>

        {# <img src="{% static 'django_setup/images/Installed Apps with members.png' %}"> #} 

         <p>As we have made a change in settings for this application, we need to bring in tools needed to help setup this 
            application.<br>
            For us to do this, we need to make a migration by running a command :<br><br>
            On <b>Windows</b> use <code>py manage.py migrate</code><br>
            On my <b>Mac</b> or <b>Unix</b> use <code>python manage.py migrate</code> and you should see output like this:  
         </p>

        {# <img src="{% static 'django_setup/images/First Migration in Tennis Club.png' %}"> #}

         <p>If localhost server is not running, navigate to the <code>my_tennis_club</code> folder with 
            <code>cd my_tennis_club</code> and execute your normal<br> runserver command in command prompt:
         </p>

         {# <img src="{% static 'django_static/images/run_localhost_server.png' %}"> #}

         <p>If you have kept <code>members/</code> in your <code>my_tennis_club/members/urls.py</code> file, then when you
            type <br><code>127.0.0.1:8000/members/</code> in your browser window address bar, it should look like this:
         </p>

         {# <img src="{% static 'django_setup/images/Run Server - Members Page.png' %}"> #}

         <p>If you have changed to a different url, that will not conflict with tennis club members later, then as my example
            shows, url and content could look like this : 
         </p>         

         {# <img src="{% static 'django_setup/images/first_django_template_on_page.png' %}"> #}
        
         <p>Now that we have created our first <code>template</code> with Django, we are now ready to create a 
            <a href="/django_setup/model">Model</a> that we can use with a database.

   </body>
</html>