
{# Handles images and videos from static folder #}
{# {% load static %} #}

<!DOCTYPE html>

<html>
    <head><title>Django Update Data</title>
    </head> 

    <body>

        <h1><center>Django Update Data</center></h1>

        <h3>Update Records</h3>

        <p>To update records that are already in database, we first have to get a record we want to update :</p>

        {# Put image in here #}

        <p><code>x</code> will now represent a member at index 4, which is "Stale Refsnes", but to make sure, let us see if 
            that is correct : 
        </p>

        {# Put image in here #}

        <p>This should give you this result :</p>

        {# Put image in here #}

        <p>Now we can change values of this record by using this command below :</p>

        {# Put image in here #}

        <p>Execute this command to see if Member table got updated :</p>

        {# Put image in here #}

        <p>Now if we show all records, we can see that id 5 has been updated with its firstname changed from Stale to 
           Stalikken :</p>

        {# Put image in here #}


        <p>Next we will look at how we can <a href="/django_setup/delete_data">delete data</a> in a model (table).</p>

        {# Example for Static image #}
        {# <img src="{% static 'django_setup/images/Initial Django Views File.png' %}"> #}

    </body>
</html>