
{# Handles images and videos from static folder #}
{% load static %} 

<!DOCTYPE html>

<html>
    <head><title>Install Django</title>
    </head> 

    <body>

        <h1><center>Install Django</center></h1>

        <h2>Install Django</h2>

        <p>Now, that we have created a virtual environment, we are now ready to install Django.<br><br>
           <b>Note:</b> Remember to install Django while you are in a virtual environment!<br><br>
           Django is installed using pip, with this command:<br><br>
        </p>

        <p><b>Windows:</b></p>

        <img src="{% static 'django_setup/images/install_django_with_pip_on_windows.png' %}">  

        <p><b>Mac/ Unix:</b></p>

        {# <img src="{% static 'django_setup/images/install_django_with_pip_on_mac_and_unix.png' %}"> #}
        <img src="{% static 'django_setup/images/install_django_with_pip_on_mac.png' %}">  
        
        <p>This will give a downloading and installing result like this on my Mac laptop:</p>

        <img src="{% static 'django_setup/images/django_download_and_install_result.png' %}">          

        <p>That's it! Now you have installed Django in your new project and it is running in a virtual environment!</p>

        <hr>

        <h2 id="version">Django Version</h2>

        <p>You can check if Django is installed by asking for its version number like this:</p>

        <img src="{% static 'django_setup/images/check_django_installed.png' %}">  
        
        <p>If Django is installed, you will get a result with a version number:</p>

        <img src="{% static 'django_setup/images/django_installed_version_number_shows.png' %}"> 

        <hr>

        <h2 id="platform">Django Platforms</h2>

        <p>You can run this Django project on either Windows, Mac or Unix and there are some small differences when writing 
           commands<br> 
           in command prompt that I will highlight below.  
        </p>

        <p><b>Windows:</b><br><br>
            Windows uses <code>py</code> as a first word in command line for python commands.       
        </p>

        <img src="{% static 'django_setup/images/python_command_on_windows.png' %}"> 

        <p><b>Mac/ Unix:</b><br><br>
            Mac and Unix use <code>python</code> as a first word in command line for python commands.       
        </p>

        {# <img src="{% static 'django_setup/images/python_command_on_mac_and_unix.png' %}"> #}
        <img src="{% static 'django_setup/images/python_command_on_mac.png' %}"> 

        <p>Here is what all commands look like on my Mac for this whole installation process.</p>

        <img src="{% static 'django_setup/images/Django - Installed with Python3.png' %}">

        <p>In rest of this Django learning website, we will use Mac commands.</p> 

        <h2>What's Next ?</h2>

        <p>Now you are ready to create a Django project in a virtual environment on your computer.<br><br>
           In next sections of this Django learning website we will create a Django project and look at 
           various features of<br> Django and hopefully make you a Django web developer.<br>
           We will first start with creating a <a href="/django_setup/project">Django Project</a> . 
        </p>


    </body>
</html>