
<!DOCTYPE html>
<html>
    <head><title>Django Template Variable</title>
    </head>
<body>
    <h1><center>Django Template using a View Variable Example</center></h1>

    <br/><br/>
    <h1>Hello {{ firstname }}, how are you?</h1>

    <p><br/>This Django variable is used in this template with <b>&#123;&#123; firstname &#125;&#125;</b> and 
        it is taken from <br/><b><code>'firstname': 'Linus'</code></b> variable, along with this template in 
       <b><code>views.py</code></b> file.<br/> 
    </p>

</body>
</html>