
{# Handles images and videos from static folder #}
{% load static %}

<!DOCTYPE html>
<html>
    
    <head><title>Django Admin</title>
    </head> 

<body>
    <h1><center>Django Admin<center></h1>

    <h2>Add a Model Member</h2>

    <p>We can add a member for a Record in Django Admin, by clicking on <b>ADD MEMBER</b> button below Select
       member to change:
    </p>

    {# Image showing how to add a member with Django Admin #}
    <img src="{% static 'django_admin/images/add_members/Click Add member.png' %}">

    <p>If you have more CSS styling in Django Admin, you can add a new member, by clicking on 
        <b>ADD MEMBER</b> button in top right corner.</p>

    {# Image showing how to add a new member when Django Admin has more styling #}
    {# <img src="{% static 'django_admin/images/add_members/Click_Add_member_top_corner.png' %}"> #}

    <p>You will get an empty form where you can fill in fields for a new member:</p>

    {# Image showing where to fill in details for fields of a new member #}
    <img src="{% static 'django_admin/images/add_members/Ready to Fill in New Member.png' %}"> 

    <p>With more CSS styling in Django Admin, empty form for filling in fields for a new member could look 
       like this:
    </p>

    {# Image showing where to fill in details for a new member when Django Admin has more styling #}
    {# <img src="{% static 'django_setup/images/form_for_new_member_more_styling.png' %}"> #}

    <p>Fill in form fields and click <b>SAVE:</b></p>

    {# Image showing fields filled in form for a new member #}
    <img src="{% static 'django_setup/images/New Jane Doe Member Details.png' %}"> 

    <p>With more CSS styling in Django Admin, filling in form fields and clicking <b>SAVE</b> could look like 
       this:
    </p>

    {# Image showing fields filled in form for a new member when Django Admin has more styling #}
    {# <img src="{% static 'django_setup/images/new_member_form_fields_more_CSS_styling.png' %}"> #}

    <p>Now Member Model has 6 members with a new Jane Doe member added:</p>

    {# Image showing that a member is added and we now have 6 members #}
    <img src="{% static 'django_setup/images/New Member Jane Doe Added.png' %}"> 

    <p>With more styling in Django Admin, 6 members (including added member) could look like this:</p>
    
    {# Image showing 6 member including an added one when Django Admin has more styling #}
    {# <img src="{% static 'django_setup/images/6_members_including_new_more_CSS_styling.png' %}"> #}

    <p>Now we have a Django project with a new member added in Django Admin for database.<br>
       In next section we will see how we can <a href="/django_admin/delete_members">delete a member</a> 
       using Django Admin.
    </p>

</body>
</html>