
{# Handles videos from static folder #}
{% load static %}

<!DOCTYPE html>
<html>
    
    <head><title>Django Admin</title>
    </head> 

<body>
    <h1><center>Django Admin<center></h1>

    <h2>Delete a Model Member (Record in Django Admin)</h2>

    <p>To delete a new member, you can either select a member and choose action <b>Delete selected members</b> 
       like this shown in Demo:
    </p>

    {# Image showing how to delete a member by choosing an action #}
    {# <img src="{% static 'django_admin/images/delete_member_using_action.png' %}"> #}

    <p>Or you can open a member for editing and click <b>red DELETE button</b>, like this shown in Demo:
    </p>

    {# Image showing how to delete a member by opening for editing #}
    {# <img src="{% static 'django_admin/images/delete_member_using_editing.png' %}"> #}
    {# I think it is better to use a video to demonstrate as only one video is needed rather than using multiple images #}
    <img src="{% static 'images/django_admin/delete_members/20230814_220114.mp4' %}">

    <p>Next we will look at how we can we can use django code (syntax) within a template. 
       We will first look at how we can use <a href="/testing/template_variable">Django Variables</a> within 
       an HTML Template.
    </p>

</body>
</html>