
{# Now we use master template that has all block elements and navigation common in layout for web pages #}
{% extends "master.html" %}

{% comment %}
<!DOCTYPE html> !DOCTYPE html and html tags now used in master.html Template
<html>
   <head> head tag is now used in master.html template
      <title>Django Admin</title> title tag is now used in master.html template{% endcomment %}  
      {% block title %}   {# Using title block tag from master.html #} 
         Django Admin
      {% endblock %}
   {% comment %}   
   </head> closing head tag is now used in master.html template   

   <body> body tag is now used in master.html template{% endcomment %} 
   
   {# This child Content Block Tag is a placeholder, that tells Django to replace the master html parent #} 
   {# Content Block with contents in it below. It also inherit the parent body tag with this child block #}  
   {% block content %}  {# Using a child content block tag from master.html for body content of web page. #}

      <h1><center>Robert's Django Admin</center></h1> 
    
      <a href="/">Back</a>


      <h2>Django Admin</h2>

      <table border='3'>
        <tr>
           <th>Topic</th>
           <th>Description</th>
        </tr>
        <tr>
            {#<td><a href="/testing/django_admin">Django Admin</a></td>#}
            <td><a href="/django_admin/admin">Django Admin</a></td>
            <td>Django Admin is a tool that uses CRUD as a user interface for all models. Click on Django Admin link to see how.</td> 
        </tr>
        <tr>
            {#<td><a href="/testing/django_admin#get_started">Getting Started</a></td>#}
            <td><a href="/django_admin/admin#get_started">Getting Started</a></td>
            <td>To get into admin screen we need to run a server and use admin in localhost address. Find out more on Getting Started link. </td> 
         </tr>
      </table>


      <h2>Create Django User</h2>

      <table border='3'>
        <tr>
           <th>Topic</th>
           <th>Description</th>
        </tr>
        <tr>
            {#<td><a href="/testing/django_user">Create User</a></td>#}
            <td><a href="/django_admin/create_user">Create User</a></td>
            <td>A User needs to be created to login to admin. Find out how this is done by clicking on Create User link.</td> 
        </tr>
        <tr>
            {#<td><a href="/testing/django_user#model_missing">Model Missing</a></td>#}
            <td><a href="/django_admin/create_user#model_missing">Model Missing</a></td>
            <td>We are told that a model is missing from an admin screen, click on Model Missing link to find out why this is happening. </td> 
         </tr>
      </table>


      <h2>Include Django Models</h2>

      <table border='3'>
        <tr>
           <th>Topic</th>
           <th>Description</th>
        </tr>
        <tr>
            {#<td><a href="/testing/django_model">Include Member</a></td>#}
            <td><a href="/django_admin/include_models">Include Member</a></td>
            <td>To include a model in Admin screen, we need to let Django know that a model should be shown in admin screen.</td> 
        </tr>
        <tr>
            {#<td><a href="/testing/django_model#change_display">Change Display</a></td>#}
            <td><a href="/django_admin/include_models#change_display">Change Display</a></td>
            <td>We can change the way to data can be display to have it show as name that is more appropriate for what you are doing. </td> 
         </tr>
      </table>

      <h2>Set List Display</h2>

      <table border='3'>
         <tr>
            <th>Topic</th>
            <th>Description</th>
         </tr>
         <tr>
            {#<td><a href="/testing/django_list_display">List Display more Reader Friendly</a></td>#}
            <td><a href="/django_admin/list_display">List Display more Reader Friendly</a></td>
            <td>Change how a model list is displayed with 2 ways. Find out how this is done through List Display more Reader Friendly link.</td>
         </tr>
         <tr>
            {#<td><a href="/testing/django_list_display#string_rep">Change String Representation</a></td>#}
            <td><a href="/django_admin/list_display#string_rep">Change String Representation</a></td>
            <td>To change how you want to display a string in a model we have to use a function.</td>
         </tr>
         <tr>
            {#<td><a href="/testing/django_list_display#list">Set List Display</a></td>#}
            <td><a href="/django_admin/list_display#list">Set List Display</a></td>
            <td>We can use list_display property to control fields that we want to display.</td>
         </tr>
      </table>      

      <h2>Update Members (Records)</h2>

      <table border='3'>
         <tr>
            <th>Topic</th>
            <th>Description</th>
         </tr>
         <tr>
            {#<td><a href="/testing/django_update_members">Update Members (Records in Django Admin)</a></td>#}
            <td><a href="/django_admin/update_members">Update Members (Records in Django Admin)</a></td>
            <td>Now we are able to create, update and delete a record from our model in our database through Django Admin. 
                <br>Click on Update Members link to see how.</td>
         </tr>         
      </table>

      <h2>Add Members (Records in Django Admin)</h2>

      <table border='3'>
         <tr>
            <th>Topic</th>
            <th>Description</th>
         </tr>
         <tr>
            {#<td><a href="/testing/django_add_members">Add Members (Records in Django Admin)</a></td>#}
            <td><a href="/django_admin/add_members">Add Members (Records in Django Admin)</a></td>
            <td>We can add a new record through Django Admin. Click on Add Members link to see how.</td>
         </tr>   
      </table>

      <h2>Delete Members (Records in Django Admin)</h2>

      <table border='3'>
         <tr>
            <th>Topic</th>
            <th>Description</th>
         </tr>
         <tr>
            {#<td><a href="/testing/django_delete_members">Delete Members (Records in Django Admin)</a></td>#}
            <td><a href="/django_admin/delete_members">Delete Members (Records in Django Admin)</a></td>
            <td>We can delete a record through Django Admin. Click on Delete Members link to see how.</td>
         </tr>   
      </table>

   {% endblock %}
   {% comment %}
   </body> closing body tag is now used in master.html template
<html> closing html tag is now used in master.html template {% endcomment %}