
{# Now we use master template that has all block elements and navigation common in layout for web pages #}
{% extends "master.html" %} 

{% comment %}
<!DOCTYPE html> !DOCTYPE html and html tags now used in master.html Template
<html>
    <head> head tag is now used in master.html template
        <title>More Django</title> title tag is now used in master.html template {% endcomment %}
        {% block title %}   {# Using title block tag from master.html #} 
         More Django
        {% endblock %}
    {% comment %}    
    </head> closing head tag is now used in master.html template  

    <body> body tag is now used in master.html template {% endcomment %} 
    
    {# This child Content Block Tag is a placeholder, that tells Django to replace the master html parent #} 
    {# Content Block with contents in it below. It also inherit the parent body tag with this child block #}  
    {% block content %}  {# Using a child content block tag from master.html for body content of web page. #}   

    <h1><center>More Django</center></h1> 

    <a href="/">Back</a>

    <h2>Django Slug Field</h2>

    <table border='3'>
        <tr>
           <th>Topic</th>
           <th>Description</th>
        </tr>
        <tr>
            <td><a href="/django_more/slug">What is a Slug ?</a></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="/django_more/slug#url_no_slug">URL Without Slug</a></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="/django_more/slug#url_slug">URL With Slug</a></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="/django_more/slug#slug_in_models">Modify models.py File With Slug</a></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="/django_more/slug#admin_prepop">Add Prepopulated Fields to admin.py File</a></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="/django_more/slug#template_slug">Modify Template with Slug</a></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="/django_more/slug#mod_urls_file">Modify URL with Slug</a></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="/django_more/slug#details_view">Modify Details View with Slug</a></td>
            <td></td>
        </tr>
    </table>

    <h2>Add Bootstrap 5</h2>

    <table border='3'>
        <tr>
           <th>Topic</th>
           <th>Description</th>
        </tr>
        <tr>
            <td><a href="/django_more/bootstrap">Add Bootstrap 5</a></td>
            <td>Click on Add Bootstrap 5 link to understand the ways that Bootstrap can be used in a Django Project.</td>
        </tr>
        <tr>
            <td><a href="/django_more/bootstrap#install">Install Bootstrap 5</a></td>
            <td>Click on Install Bootstrap 5 link to see how to install bootstrap in a virtual environment.</td>
        </tr>
        <tr>
            <td><a href="/django_more/bootstrap#settings_bootstrap">Update Settings with Bootstrap</a></td>
            <td>Learn how to update settings so that bootstrap can be used. Click on Update Settings with Bootstrap to see how.</td>
        </tr>
        <tr>
            <td><a href="/django_more/bootstrap#remove_old_css">Remove Old CSS Styling</a></td>
            <td>Click on Remove Old CSS Styling link to see how original CSS styling should be removed.</td>
        </tr>
        <tr>
            <td><a href="/django_more/bootstrap#template_bootsrap">Add Bootstrap 5 to Template</a></td>
            <td>Bootstrap 5 needs to be added to Master Template. Click on Add Bootstrap 5 to Template link to see how.</td>
        </tr>

    </table>    

    {% endblock %}
    {% comment %}
    </body> closing body tag is now used in master.html template
<html> closing html tag is now used in master.html template {% endcomment %}